.slidingBox {
    -webkit-transition: height 1000ms linear;
    -moz-transition: height 1000ms linear;
    -o-transition: height 1000ms linear;
    -ms-transition: height 1000ms linear;
    transition: height 1000ms linear;
    overflow:hidden;
    height: 0;
}