<!-- place any 'section' HTML in these files -->

<div class="sectionDetail">
<p>Bøker på avveie etter andre verdenskrig har lenge vært et glemt tema, utenom for de menneskene, institusjonene og organisasjonene som har vært direkte berørt av beslag og konfiskering av eiendom. Bøkene som nå blir registrert i dette prosjektet, vil kunne stå som et minnesmerke over hvordan et totalitært regime har forsøkt å innskrenke ytringsfriheten, forby både bøker og organisasjoner, beslaglegge og stjele verdifull kunst og litteratur og forfølge og drepe mennesker.</p>
<p>Prosjektet med å registrere og reaktualisere denne boksamlinga i Tsjekka, er et samarbeid mellom <u><a href="http://www.en.nkp.cz/">Nasjonalbiblioteket i Tsjekkia</a></u> og <u><a href="http://www.stiftelsen-arkivet.no/"></a>Stiftelsen Arkivet</a></u> i Norge. Prosjektet er støttet av EØS-midler, og har involvert 10 medarbeidere.</p>
<p>The official end of the project is scheduled for 30 April 2016. For further details about the project, its process, findings and final seminars, visit <u><a href="http://knihyznovunalezene.eu/en/index.html">the project web site</a></u>.</p>

<p>We are much appretiative of any new insights on this subject, and other feedback on the project and virtual exhibit. Please do contact Project leader, National Library of the Czech Republic, <u><a href="mailto:Tomas.Foltyn@nkp.cz">Tomáš Foltýn</a></u> Project leader, Stiftelsen ARkivet, <u><a href="mailto:gro.kvanvig@stiftelsen-arkivet.no">Gro Kvanvig</a></u>. </p>
</div>



