<!-- place any 'section' HTML in these files -->

<div class="sectionDetail">
<p>Bøker på avveie etter andre verdenskrig har lenge vært et glemt tema, utenom for de menneskene, institusjonene og organisasjonene som har vært direkte berørt av beslag og konfiskering av eiendom. Bøkene som nå blir registrert i dette prosjektet, vil kunne stå som et minnesmerke over hvordan et totalitært regime har forsøkt å innskrenke ytringsfriheten, forby både bøker og organisasjoner, beslaglegge og stjele verdifull kunst og litteratur og forfølge og drepe mennesker.</p>
<p>Prosjektet med å registrere og reaktualisere denne boksamlinga i Tsjekka, er et samarbeid mellom <u><a href="http://www.en.nkp.cz/" target="_blank">Nasjonalbiblioteket i Tsjekkia</a></u> og <u><a href="http://www.stiftelsen-arkivet.no/" target="_blank"></a>Stiftelsen Arkivet</a></u> i Norge. Prosjektet er støttet av EØS-midler.</p>
<p>For mer informasjon om prosjektet, dets funn og avslutningsseminar, se <u><a href="http://knihyznovunalezene.eu/en/index.html" target="_blank">prosjektets webside</a></u>, eller kontakt prosjektleder ved National Library of the Czech Republic, <u><a href="mailto:Tomas.Foltyn@nkp.cz">Tomáš Foltýn</a></u>, og prosjektleder ved Stiftelsen ARkivet, <u><a href="mailto:gro.kvanvig@stiftelsen-arkivet.no">Gro Kvanvig</a></u>.</p>
</div>



