<!-- place any 'section' HTML in these files -->

<div class="sectionDetail">
<p>Under andre verdenskrig var det ikke bare mennesker som ble bortført av nazistene, men også store mengder verdigjenstander av 
alle slag ble beslaglagt av ulike grunner, og stjålet fra, både enkeltpersoner og institusjoner. Bøker og dokumenter var noe av 
det som ble beslaglagt fra ulike grupper og institusjoner, blant annet fra jødiske samfunn, frimurerlosjer, museer, kirker og 
offentlige biblioteker.</p>
<p>I Praha fant man for noen år siden en samling bøker i et depot i Nasjonalbiblioteket som hadde stått urørt og uregistrert i 
årevis. Da de ansatte ved Nasjonalbiblioteket begynte å kikke på samlingen, fant de ut at dette både var bøker nazistene hadde 
beslaglagt under krigen, kanskje også stjålet, men også bøker som skulle reddes unna bombingen av tyske byer i sluttfasen av 
krigen.</p>
<p>Etter krigen ble Tsjekkoslovakia et kommunistisk regime, og på mange måter sørget tsjekkoslovakiske myndigheter for en 
videreføring av nazistenes praksis med å beslaglegge bøker av ulike grunner. Derfor er boksamlinga i Nasjonalbiblioteket i 
Tsjekkia i dag også historien om totalitære regimers forsøk på å kontrollere det frie ord.</p>
<p>I denne utstillinga møter du historien til noen av disse bøkene og eierne deres, og to europeiske land under okkupasjon.
</p>

    <div quotebox type="quote"> <p>This is the box content with a lot of text. This is the box content with a lot of text</p> </div>
</div>

<!-- Process Selection -->
<div section-box class="subSectionBox" id="archival_process_selection" text-closed="Arkivering // Utvalg"
             text-open="Arkivering // Utvalg" poster-src="selection.jpg" video-src="1.1.mp4" gif-src=""
             force-iphone-video="false"></div>

<!-- Process Cleaning -->
<div section-box class="subSectionBox" id="archival_process_cleaning" text-closed="Arkivering // Rengjøring"
             text-open="Arkivering // Rengjøring" poster-src="cleaning.jpg" video-src="" gif-src=""
             force-iphone-video="false"></div>

<!-- Process cataloguing -->
<div section-box class="subSectionBox" id="archival_process_cataloguing" text-closed="Arkivering // Katalogisering"
             text-open="Arkivering // Katalogisering" poster-src="cataloguing.jpg" video-src="" gif-src=""
             force-iphone-video="false"></div>

<!-- Process Story -->
<div section-box class="subSectionBox" id="archival_process_storing" text-closed="Arkivering // Lagring"
             text-open="Arkivering // Lagring" poster-src="storing.jpg" video-src="" gif-src=""
             force-iphone-video="false"></div>

<!-- Process Digitising -->
<div section-box class="subSectionBox" id="archival_process_digitising" text-closed="Arkivering // Digitalisering"
             text-open="Arkivering // Digitalisering" poster-src="digitalizing.jpg" video-src="" gif-src=""
             force-iphone-video="false"></div>
