<!-- place any 'section' HTML in these files -->

<div class="sectionDetail">
<p>I tiden etter nazistene, ble 12 millioner bøker beslaglagt i Tsjekkoslovakia. Dette var bøker som enten hadde tilhørt tyskere, bøker nazistene selv hadde beslaglagt og som allerede var på avveie fra sin rettmessige eier, nazistenes egne boksamlinger og bøker som kommunistene mente ikke ville gagne folket. </p>
<p>Samlingen av bøker på avveie etter andre verdenskrig har vært glemt, men nå er de funnet igjen og vil kunne stå som eksempel på at uansett hvor mange ganger et totalitært regime forsøker å innskrenke ytringsfriheten, forby både bøker og organisasjoner, beslaglegge og stjele verdifullt materiale, fjerne kunsten fra menneskene som har brakt den inn i verden, så vil det ikke lykkes.</p>

</div>



