<!-- place any 'section' HTML in these files -->

<div class="sectionDetail">
<p>I Nasjonalbiblioteket i Praha finnes i dag en samling på rundt 300 000 utenlandske bøker som stammer fra tiden under og like etter andre verdenskrig. Av de 12 000 bøkene som er valgt ut, er rundt halvparten frimurer-litteratur. En annen del av bøkene er nazistisk propaganda fra SS-bibliotek, men ellers stort sett generell litteratur, skjønnlitteratur og andre bøker beslaglagt fra personer som ble arrestert og kanskje deportert. Hva skjedde med bøkene og deres eiere? Hvorfor havnet disse bøkene hos Nasjonalbiblioteket i Tsjekkia? Hvis vi ser på bøkenes proveniens, historien om bøkenes eierskap, kan vi finne noen svar.</p>

<p>Eiere av ei bok, om det er en person eller en institusjon, vil som regel merke den med sitt eierskap. I et bibliotek for eksempel, vil hver eneste nye bok i samlinga, bli merket med et stempel som viser hvor den hører til. Bøkene i denne samlinga er stort sett fra 1700-, 1800- og 1900-tallet, en periode hvor det var vanlig å prege bøkene med enten stempler eller ex libris, det vil si et bokeiermerke. Av de rundt 1800 stemplene og ex libris som er registrert til nå, er det mulig å danne seg bilder av hvem som eide hvilke bøker. Det er også mulig i noen tilfeller å rekonstruere historien til eierne av bøkene, og kanskje kan det kastes nytt lys over hvorfor bøkene har havnet i Nasjonalbibliotekets samling av beslaglagte bøker?</p>

<p>Her er noen av historiene.</p>

</div>

<!-- MS 1 -->
<div section-box class="subSectionBox" id="eksemplerfrasamlingen_dreiweltkugelen" text-closed="// Zu den drei Weltkugeln"
             text-open="// Zu den drei Weltkugeln" poster-src="dreiweltkugelen.jpg" video-src="" gif-src=""
             force-iphone-video="false" caption-text=<i>Versuch einer Darstellung des animalischen Magnetismus als Heilmittel</i>, utgitt i Berlin 1815, del av Zu den drei Weltkugeln samling."></div>

<!-- MS 2 -->
<div section-box class="subSectionBox" id="eksemplerfrasamlingen_dennorskefrimurerorden" text-closed="// Den Norske Store Landsloge"
             text-open="// Den Norske Store Landsloge" poster-src="landslogesbibliotek.jpg" video-src="" gif-src=""
             force-iphone-video="false" caption-text="<i>Mystic Christianity. Or, The Inner Teachings of the Master</i>, av Yogi Ramacharaka, utgitt i Chicago 1908, del av Den Norske Store Landsloge samling."></div>

<!-- MS 3 -->
<div section-box class="subSectionBox" id="eksemplerfrasamlingen_schwartzbostunitsch" text-closed="// Gregor Schwartz-Bostunitsch"
             text-open="// Gregor Schwartz-Bostunitsch" poster-src="bostunitsch.jpg" video-src="" gif-src=""
             force-iphone-video="false" caption-text="<i>Freimaurer-Lexicon, nach vieljähriger Erfahrungen und den besten Hülfsmitteln ausgearbeitet</i>, utgitt i Berlin 1818, del av Gregor og Frikka Schwartz-Bostunitsch samling."></div>

<!-- MS 4 -->
<div section-box class="subSectionBox" id="eksemplerfrasamlingen_sauer" text-closed="// August Sauer"
             text-open="// August Sauer" poster-src="augustsauer.jpg" video-src="" gif-src=""
             force-iphone-video="false" caption-text=<i>Ante-diluvianische Fidibus-Schnitzel von. 1842 bis 1847, 5tes Fascikel, Als Manuskript für Freunde></i>, av general Friedrich Fürst Schwarzenberg, utgitt 1850, del av August Sauer samling."</div>
             
<!-- MS 5 -->
<div section-box class="subSectionBox" id="eksemplerfrasamlingen_smichovsky" text-closed="// Jiří Arvéd Smíchovský"
             text-open="// Jiří Arvéd Smíchovský" poster-src="smichovsky.jpg" video-src="" gif-src=""
             force-iphone-video="false" caption-text=<i>La Gerusalemme liberata</i>, av poet Torquato Tasso, først utgitt i 1581, del av Jiří Arvéd Smíchovský samling."></div>
             
<!-- MS 6 -->
<div section-box class="subSectionBox" id="eksemplerfrasamlingen_redenhalle" text-closed="// Die Lese- und Redehalle"
             text-open="// Die Lese- und Redehalle" poster-src="collection_sample2.jpg" video-src="" gif-src=""
             force-iphone-video="false" caption-text=<i>Plutarchstudien in Italienischen Bibliotheken</i>, av Hans Wegehaupt, først utgitt i 1923, del av Die Lese- und Redehalle der deutschen Studenten in Prag samling."></div>
             
