<!-- place any 'section' HTML in these files -->

<div class="sectionDetail">
<p>I det tsjekkiske nasjonalbiblioteket i Praha finner vi i dag en samling på 300 000 utenlandske bøker som stammer fra tiden under og like etter andre verdenskrig. Denne samlinga består av frimurerlitteratur, nazistisk propaganda fra SS-bibliotek, kulturskatter og generell litteratur beslaglagt av personer som ble arrestert og kanskje deportert. Hva skjedde? Hvorfor havnet disse bøkene sammen i denne samlinga? Svaret er å finne i bøkene selv, om en kan vie dem den tiden og undersøkelsen de trenger for å fortelle sin historie.</p>

<p>I 1939 opprettet nazistene under ledelsen av Heinrich Himmler et eget Reichssicherheitshauptamt, et «hovedkontor for rikets sikkerhet». Den første lederen var Richard Heydrich, til han ble utsatt for et attentat og drept i Praha i 1942. Den neste lederen var Ernst Kaltenbrunner. Dette hovedkontoret hadde en avdeling VII, avdelingen for "skriftlige kilder". De skulle både se til at nazifiseringen av de okkuperte landene gikk som den skulle, og de skulle produsere anti-jødisk og anti-frimurerisk propaganda. I flere tilfeller gikk oppgavene til Alfred Rosenbergs utenriksavdeling for  ERR og RSHA over i hverandre, men det er grunn til å tro at bøkene i Nasjonalbibliotekets samling, stammer fra innsamlinger gjort av RSHA.</p>

<p>I tiden etter nazistene, ble 12 millioner bøker beslaglagt i Tsjekkoslovakia. Dette var bøker som enten hadde tilhørt tyskere, bøker nazistene selv hadde beslaglagt og som allerede var på avveie fra sin rettmessige eier, nazistenes egne boksamlinger og bøker som kommunistene mente ikke ville gagne folket.</p>

</div>

<!-- MS 1 -->
<div section-box class="subSectionBox" id="eksemplerfrasamlingen_dreiweltkugelen" text-closed="Samlingen // Zu den drei Weltkugeln"
             text-open="Samlingen // Zu den drei Weltkugeln" poster-src="collection_sample1.jpg" video-src="" gif-src=""
             force-iphone-video="false"></div>

<!-- MS 2 -->
<div section-box class="subSectionBox" id="eksemplerfrasamlingen_landslogesbibliotek" text-closed="Samlingen // Den Norske Store Landsloges Bibliotek"
             text-open="Samlingen // Den Norske Store Landsloges Bibliotek" poster-src="collection_sample2.jpg" video-src="" gif-src=""
             force-iphone-video="false"></div>

<!-- MS 3 -->
<div section-box class="subSectionBox" id="eksemplerfrasamlingen_schwartzbostunitsch" text-closed="Samlingen // Gregor Schwartz-Bostunitsch"
             text-open="Samlingen // Gregor Schwartz-Bostunitsch" poster-src="collection_sample3.jpg" video-src="" gif-src=""
             force-iphone-video="false"></div>

<!-- MS 4 -->
<div section-box class="subSectionBox" id="eksemplerfrasamlingen_depotoffenbach" text-closed="Samlingen // Depot Offenbach"
             text-open="Samlingen // Depot Offenbach" poster-src="collection_sample4.jpg" video-src="" gif-src=""
             force-iphone-video="false"></div>

<!-- MS 5 -->
<div section-box class="subSectionBox" id="eksemplerfrasamlingen_sauer" text-closed="Samlingen // August Sauer"
             text-open="Samlingen // August Sauer" poster-src="collection_sample1.jpg" video-src="" gif-src=""
             force-iphone-video="false"></div>
             
<!-- MS 6 -->
<div section-box class="subSectionBox" id="eksemplerfrasamlingen_smichovsky" text-closed="Samlingen // Jiří Arvéd Smíchovský"
             text-open="Samlingen // Jiří Arvéd Smíchovský" poster-src="collection_sample2.jpg" video-src="" gif-src=""
             force-iphone-video="false"></div>
             
