<!-- place any 'section' HTML in these files -->

<div class="sectionDetail">
    <p>Helt siden mennesker begynte å skrive ned sine tanker, og dermed spre idéer, har myndigheter og andre autoriteter forsøkt å stoppe spredningen av tanker som enten på religiøst, moralsk eller politisk grunnlag kunne skade eller oppheve de rådende idéer. Bøker har blitt sensurert, inndratt, beslaglagt og destruert. Forfattere og vitenskapsfolk har blitt forfulgt og mange også mishandlet og drept for sine tanker og idéer. Vitenskap, politikk, religion, kunst; nye tanker kan være farlige, og for et totalitært regime er det viktig å ha kontroll over hvilke tanker, meninger og holdninger som blir ytret.</p>
    </div>

<!-- WW2 -->
<div section-box id="kontekst_ww2" text-closed="Historisk bakteppe // Andre verdenskrig"
             text-open="Historisk bakteppe // Andre verdenskrig" poster-src="WW2.jpg" video-src="" gif-src=""
             force-iphone-video="false" caption-text="Nazistene ødelegger et forskningsbibliotek i Berlin // Wikimedia Commons // Schwules Museum, Berlin"></div>

<!-- Post War Era -->
<div section-box id="kontekst_post_war_era" text-closed="Historisk bakteppe // Etterkrigstiden"
             text-open="Historisk bakteppe // Etterkrigstiden"  poster-src="background_postwar_des.jpg" video-src="" gif-src=""
             force-iphone-video="false" caption-text="Smìchov, Prague 1978. Red flags celebrate 30 years since the Communist take-over of February 1948 // Wikimedia Commons// Deutsches Bundesarchiv">
    
</div>
