<!-- place any 'section' HTML in these files -->

<div class="sectionDetail">
<p>Vil du kontrollere et samfunn, må du kontrolle hva hvert enkelt menneske leser, ser og hører.</p>

<p>Helt siden mennesker begynte å skrive ned sine tanker, og dermed spre idéer, har myndigheter og andre autoriteter forsøkt å stoppe spredningen av tanker som enten på religiøst, moralsk eller politisk grunnlag kunne skade eller oppheve de rådende idéer. Bøker har blitt sensurert, inndratt, beslaglagt og destruert. Forfattere og vitenskapsfolk har blitt forfulgt og mange også mishandlet og drept for sine nedskrevne tanker og idéer. Vitenskap, politikk, religion, kunst; nye tanker kan være farlige, og for et totalitært regime er det viktig å ha kontroll over hvilke tanker som blir tenkt og hvilke meninger og holdninger som blir ytret.</p>

<p>Nazistenes mål om å skape en ny, germansk verdensorden, krevde streng kontroll av alle idéer og all motkultur som i mellomkrigstiden hadde blomstret. Hva folk leste, så og hørte måtte passe inn i dannelsen av det germanske mennesket; det ariske, raserene mennesket. Gjennom streng kontroll av tilgjengelige kulturelle uttrykk, skulle man fjerne alle idéer som tilhørte hovedfiendene: marxismen, jødene, arbeiderbevegelsen, liberalismen og demokratiet. Alle ytringer som problematiserte nazismen, alle former for kulturelle uttrykk som kunne virke demotiverende på oppbyggingen av den germanske ånden, ble forbudt. Det skulle skapes et positivt bilde av Nazi-Tyskland og det germanske folk i alle de okkuperte områdene. For å oppnå dette, benyttet nazistene seg av velkjente metoder: sensur, beslaglegging og propaganda.

(illustrasjon: «Enten eller». NS-plakat som viser nasjonalsosialismen versus kommunismen. Jensen og Dahl, Parti og plakat, s. 121)</p>


</div>
<!-- WW2 -->
<div section-box id="kontekst_ww2" text-closed="Bakgrunn // Andre verdenskrig"
             text-open="Bakgrunn // Andre verdenskrig" poster-src="background_des.jpg" video-src="" gif-src=""
             force-iphone-video="false" caption-text="Berlin, 11 December 1941 Adolf Hitler delivers a speech at the Kroll Opera House to the men of the Reichstag on the subject of Roosevelt and the war in the Pacific, declaring war on the United States. In the third row (from right to left) are Alfred Rosenberg, head of the department under the Ministry of Foreign Affairs that was to study the enemies of National Socialism //Wikimedia Commons// Deutsches Bundesarchiv."></div>

<!-- Post War Era -->
<div section-box id="kontekst_post_war_era" text-closed="Bakgrunn // Etterkrigsstiden"
             text-open="Bakgrunn // Etterkrigsstiden"  poster-src="background_postwar_des.jpg" video-src="" gif-src=""
             force-iphone-video="false" caption-text="Smìchov, Prague 1978. Red flags celebrate 30 years since the Communist take-over of February 1948 // Wikimedia Commons// Deutsches Bundesarchiv"></div>
