<!-- place any 'section' HTML in these files -->

<div class="sectionDetail">
<p><h2>Under andre verdenskrig var det ikke bare menneskeliv som ble beslaglagt av nazistene, men også store mengder papirer, dokumenter, arkiv og ikke minst bøker.</h2></p>

<div quotebox type="quote"> <p>Papir, dokumenter og brever ble av ildstormen ført like inn i Tsjekkoslovakiet.</p> </div>
<p><i>Anna Fosse Clauss i brev hjem til Norge under bombinga av Dresden i 1945.</i></p>

<p>I det tsjekkiske nasjonalbiblioteket i Praha fant man for noen år siden et depot med bøker som ingen hadde brydd seg med på mange år. Bøkene var urørt og ikke registrert i bibliotekets kataloger. Da de ansatte ved Nasjonalbiblioteket begynte å kikke på bøkene, fant de raskt ut at dette både var beslaglagte bøker fra andre verdenskrig, og bøker som skulle reddes unna bombingen av tyske byer. Det fantes også beslaglagte bøker fra tiden etter krigen, bøker som det tsjekkiske kommunistregimet beslagla. Dermed begynte nøstingen i en historie som vi fremdeles ikke har fått slutten på.</p>

<p>Et lett overslag forteller oss at det kan ha blitt beslaglagt 12 millioner bøker etter andre verdenskrig bare i det som den gang var Tsjekkoslovakia. De fleste av disse bøkene ble håndtert av det tsjekkoslovakiske nasjonalbiblioteket og mange av dem stammer fra tiden under andre verdenskrig.</p>

<p>I Nasjonalbiblioteket i Tsjekkia i dag, har man valgt ut 300 000 bøker av utenlandsk opprinnelse og funnet rundt 12 000 titler av beslaglagte bøker som har stempler eller eierens navn så man kan begynne arbeidet med å finne historien til disse bøkene og kanskje få svar på noen spørsmål, som: Hvem eide disse bøkene og hvorfor ble de beslaglagt? Hva hendte med bøkenes eiere? Hvorfor havnet bøkene i Nasjonalbiblioteket i Tjsekkoslovakia?</p>

<p>Boksamlinga i det tsjekkiske nasjonalbiblioteket forteller mange historier. En av dem er historien om totalitære regimers forsøk på å utslette uønskede mennesker og deres historiske skrifter. I denne utstillinga møter du historien til noen av bøkene som nazistene og kommunistene forsøkte å fjerne, og eierne deres. Du vil også møte historien om to land som på ulike måter ble forandret gjennom nazistenes tilstedeværelse.</p>

</div>
