<!-- place any 'section' HTML in these files -->

<div class="sectionDetail">
    <p>I 1938 ble den tsjekkoslovakiske regjeringen tvunget til å avstå de delene av landet som besto av Böhmen og Mähren til Tyskland, som tidligere samme år også hadde innlemmet Østerrike i sitt storgermanske rike. Områdene, som blir kalt Sudetlandet, hadde en høy andel tyskspråklige innbyggere som hadde blitt innlemmet i Tsjekkoslovakia etter første verdenskrig. I 1939 okkuperte Tyskland de resterende delene av de tsjekkiske områdene. </p>

<p>Allerede i 1938 i Sudetlandet ble offentlige biblioteker og skolebiblioteker stengt. All uønsket litteratur ble fjernet, og litteratur som presenterte synet til ulike grupper nazistene så på som fiender, ble sensurert, herunder litteratur av jødiske forfattere, frimurere og "emigrant"-forfattere (nasjonale forfattere som skrev fra andre land), sosialister og soldater fra fremmedlegionen.

(illustrasjon: kartet over Tsjekkoslovakia som Torolf Elster har i sin bok?) </p>

<p>Norge ble okkupert 9. april 1940. Dagen etter gikk det tyske sikkerhetspolitiet til aksjon mot forlaget, bokhandlene og bibliotekene for å fjerne og destruere alle eksemplarer av ei bok som allerede hadde blitt forbudt i Tyskland: Hitler har sagt det av Hermann Rauschning. Tyskerne skulle også fjerne to andre bøker som tidligere var gitt ut på norsk, hvis de kom over dem: Myrsoldater av Wolfgang Langhoff og Mitt liv av Leo Trotskij.

(illustrasjon: Hermann Rauschnings bok, tittelbladet) </p>
 
<p>Listen over hvilke forfattere og bøker som var forbudt, var lang og ble stadig lengre utover i krigsårene. Listene var opprinnelige tyske, men ble tilpasset de enkelte landene hvor den tyske sensur- og beslagleggingspraksisen skulle fungere. </p>

<p>I Norge ble listene fulgt opp både av tysk sikkerhetspoliti og norske folk som var medlemmer av Nasjonal Samling. Noen norske forlag ble stengt, andre måtte finne seg i å bli kontrollert. Bibliotekenes samlinger ble nøye inspisert. Hver måned kom det noen fra enten norske eller tyske myndigheter og sjekket hyllene. Både for å se til at det ikke fantes forbudte bøker i biblioteket, men også for å sjekke om bibliotekarene satte fram den nye litteraturen de hadde fått påbud om å promotere. Dette kunne være tysk litteratur eller litteratur som stilte den nye ordningen i landet i et fordelaktig lys.

(illustrasjon: Norsk liste over beslaglagte bøker, faksimile) </p>

</div>
