<!-- place any 'section' HTML in these files -->

<div class="sectionDetail">
<p>Praksisen med å kontrollere og sensurere hva som ble sett, hørt og lest av et folk, var ikke unik for nazistene. Da kommunistene overtok styret av Tsjekkoslovakia etter frigjøringen i 1945, og sovjetisk praksis ble innført i landet, ble tyskere utvist av landet og deres eiendommer ble beslaglagt. Det samme skjedde med tsjekkoslovakere som hadde samarbeidet med nazistene. På mange måter sørget kommunistene for en kontinuitet i nazistenes praksis med å beslaglegge eiendom og kontrollere frie ytringer og ulike ånds- og kunstverk. </p>

<p>I tiden etter nazistene, ble 12 millioner bøker beslaglagt i Tsjekkoslovakia. Dette var bøker som enten hadde tilhørt tyskere, bøker nazistene selv hadde beslaglagt og som allerede var på avveie fra sin rettmessige eier, nazistenes egne boksamlinger og bøker som kommunistene mente ikke ville gagne folket. </p>

<p>Samlingen av bøker på avveie etter andre verdenskrig har vært glemt, men nå er de funnet igjen og vil kunne stå som eksempel på at uansett hvor mange ganger et totalitært regime forsøker å innskrenke ytringsfriheten, forby både bøker og organisasjoner, beslaglegge og stjele verdifullt materiale, fjerne kunsten fra menneskene som har brakt den inn i verden, så vil det ikke lykkes. </p>

</div>
