<!-- place any 'section' HTML in these files -->

<div class="sectionDetail">
<p>Praksisen med å ta kontroll over fiendenes eiendommer, var ikke unik for nazistene. Da kommunistene overtok styret av Tsjekkoslovakia etter frigjøringen i 1945, ble alt tilhørende tyskere, kollaboratører og andre fiender beslaglagt. Fra og med 1948 ble sovjetisk praksis innført i landet og alt av eiendommer tilhørende personer som emigrerte, ble beslaglagt av staten. Herunder bøker. Det ble beslaglagt rundt 12 millioner bøker i Tsjekkoslovakia i tiden etter andre verdenskrig, og en del av disse bøkene havnet i det som i dag er det tsjekkiske nasjonalbiblioteket. </p>

<p>På mange måter sørget kommunistene for en kontinuitet i nazistenes praksis med å beslaglegge eiendom og kontrollere frie ytringer og ulike ånds- og kunstverk. </p>

</div>
