<!-- place any 'section' HTML in these files -->

<div class="sectionDetail">
<p>Praksisen med å ta kontroll over fiendenes eiendommer, var ikke unik for nazistene. Etterkrigsregjeringen i Tsjekkoslovakia som satt fra 1945-1948, beslagla alt som hadde tilhørt tyskere, kollaboratører og andre fiender av Tsjekkoslovakia og overdro det til tsjekkere. Tsjekkiske motstandsgrupper fra under krigen krevde at den sudettyske befolkninga i Tsjekkoslovakia skulle utvises fra landet, og i løpet av Potsdam-konferansen i august 1945 ble dette vedtatt. Langt over 2 millioner sudettyskere ble utvist til den amerikanske sonen i Tyskland og til den sovjetiske sonen, og mistet dermed sine eiendommer og eiendeler.</p>

<p>I etterkrigsregjeringa satt kommunister i framtredende posisjoner, og i 1948 ble landet tatt over av en kommunistisk regjering. Kommunistregimet fulgte opp den politikken som allerede ble utøvet med å beslaglegge eiendommer som tilhørte personer som emigrerte, opposisjonelle og dømte personer. Bøker ble også beslaglagt. Det ble også lagt strenge restriksjoner på ytringsfriheten og intellektuelle og kunstneriske uttrykk. På mange måter sørget kommunistene for en kontinuitet i nazistenes praksis med å beslaglegge eiendom og kontrollere frie ytringer og ulike ånds- og kunstverk.</p>

</div>
