<meta name="module" content="1,no">
    <header aria-role="banner">
        <div>
            <div class="topQuoteMarks" aria-hidden="true">
                <span>“</span>
            </div>
            <div class="topQuoteText">
                <span class="topQuote">BOOKS DISCOVERED ONCE AGAIN</span><p class="topSubtitle">// VIRTUELL UTSTILLING</p>
            </div>
        </div>
    </header>

    <!-- Each DIV block defined below represents an opening 'section' headed with image/video introduction -->
    <!-- This directive shows a placeholder image, replaced with video content (or animated GIF for mobile devices) when clicked. Click also activates the following section. Unique section ID must be included-->


 <!-- Intro -->
    <div div section-box id="introduksjon" text-closed="Introduksjon" text-open="Introduksjon"
                 poster-src="intro.jpg" video-src="" gif-src="" force-iphone-video="false"></div>

    <!-- Context -->
    <div section-box id="kontekst" text-closed="Kontekst" text-open="Kontekst"
                 poster-src="context.jpg" video-src="" gif-src="" force-iphone-video="false"
         caption-text="This is some sample caption text. This is some sample caption text. This is some sample caption text. This is some sample caption text. This is some sample caption text. "></div>

    <!-- Timeline -->
    <div section-box id="tidslinje" text-closed="Tidslinje" text-open="Tidslinje"
                 poster-src="timeline.jpg" video-src="" gif-src="" force-iphone-video="false" timeline-mode=true
            caption-text=""></div>

    <!-- Collection -->
    <div section-box id="boksamling" text-closed="Boksamling" text-open="Boksamling"
                 poster-src="collection.jpg" video-src="" gif-src="" force-iphone-video="false"></div>

    <!-- Provenance -->
    <div section-box id="proveniens" text-closed="Proveniens" text-open="Proveniens"
         poster-src="collection_sample3.jpg" video-src="" gif-src="" force-iphone-video="false"></div>

    <!-- Archival Process -->
    <div section-box id="arkiveringsprosess" text-closed="Arkiveringsprosess" text-open="Arkiveringsprosess"
         poster-src="archival-process.jpg" video-src="" gif-src="" force-iphone-video="false"></div>

    <!-- About -->
    <div section-box id="omprosjektet" text-closed="Om prosjektet" text-open="Om prosjektet"
         poster-src="about.jpg" video-src="" gif-src="" force-iphone-video="false"></div>


</div>
