<meta name="module" content="1,no">


<!-- Each DIV block defined below represents an opening 'section' headed with image/video introduction -->
<!-- This directive shows a placeholder image, replaced with video content (or animated GIF for mobile devices) when clicked. Click also activates the following section. Unique section ID must be included-->


<!-- Intro -->
<div div section-box id="intro" text-closed="Books discovered once again?" text-open="Books discovered once again?"
     poster-src="discoveredonceagain.jpg" video-src="" gif-src="" force-iphone-video="false"
     caption-text="A few of the 12.000 items in the <i>Books Discovered Once Again</i> collection illustrating the variety of books from parapsychology to astrology."></div>

<!-- Context -->
<div section-box id="context" text-closed="Bakgrunn" text-open="Bakgrunn"
     poster-src="background_des.jpg" video-src="" gif-src="" force-iphone-video="false"
    caption-text="Berlin, 11 December 1941 Adolf Hitler delivers a speech at the Kroll Opera House to the men of the Reichstag on the subject of Roosevelt and the war in the Pacific, declaring war on the United States. In the third row (from right to left) are Alfred Rosenberg, head of the department under the Ministry of Foreign Affairs that was to study the enemies of National Socialism // Wikimedia Commons // Deutsches Bundesarchiv."></div>

<!-- Timeline -->
<div section-box id="timeline" text-closed="Tidslinje" text-open="Tidslinje"
     poster-src="context.jpg" video-src="" gif-src="" force-iphone-video="false" timeline-mode=true
     caption-text="(information missing) When most likely is this photo taken, what does it illustrate, how does it relate to the collection, and why is this photo and album now in NL´s hands?"></div>

<!-- Collection -->
<div section-box id="collection" text-closed="Bøker som vitner" text-open="Bøker som vitner"
     poster-src="collection.jpg" video-src="" gif-src="" force-iphone-video="false"
      caption-text="(information missing) When most likely is this photo taken, what does it illustrate, how does it relate to the collection, and why is this photo and album now in NL´s hands?"></div>

<!-- Provenance -->
<div section-box id="provenance" text-closed="Proveniens" text-open="Proveniens"
     poster-src="provenance.jpg" video-src="" gif-src="" force-iphone-video="false"
     caption-text="(tentative text) In the Books Discovered Once Again project priority is given to books with a stamp, or several stamps, as these and other 'signs of provenance' may tell us what persons or institution these books used to belong to."></div>

<!-- Archival Process -->
<div section-box id="process" text-closed="Arkiveringsprosessen" text-open="Arkiveringsprosessen"
     poster-src="process.jpg" video-src="" gif-src="" force-iphone-video="false"
      caption-text="(tentative text) Cataloguing the books in the Books Discovered Once Again project is a process of many steps - from selecting the books that may be interesting from the vaste collection of 300.000 books to cleaning them, cataloguing them, labeling and storing them and finaly digitising them."></div>

<!-- About -->
<div section-box id="about" text-closed="Om prosjektet" text-open="Om prosjektet"
     poster-src="about.jpg" video-src="" gif-src="" force-iphone-video="false"
      caption-text="Project Leader Gro Kvanvig during workshop at the National Library of the Czech Republic in February 2015. The Books Discovered Once Again project is a collaboration between National Library of the Czech Republic and the education- and documentation centre based in Kristiansand in the southern part of Norway, Stiftelsen Arkivet.">


</div>
