<meta name="module" content="1,no">


<!-- Each DIV block defined below represents an opening 'section' headed with image/video introduction -->
<!-- This directive shows a placeholder image, replaced with video content (or animated GIF for mobile devices) when clicked. Click also activates the following section. Unique section ID must be included-->


<!-- Intro -->
<div div section-box id="intro" text-closed="Hva skjedde med bøkene?" text-open="Hva skjedde med bøkene?"
     poster-src="discoveredonceagain.jpg" video-src="" gif-src="" force-iphone-video="false"
     caption-text=""></div>

<!-- Context -->
<div section-box id="context" text-closed="Historisk bakteppe" text-open="Historisk bakteppe"
     poster-src="background_des-1.jpg" video-src="" gif-src="" force-iphone-video="false"
    caption-text="11. desember 1941, Berlin. Hitler holder tale i Kropp Operahus // Wikimedia Commons // Deutsches Bundesarchiv"></div>

<!-- Timeline -->
<div section-box id="timeline" text-closed="Tidslinje" text-open="Tidslinje"
     poster-src="context.jpg" video-src="" gif-src="" force-iphone-video="false" timeline-mode=true
     caption-text="Etter andre verdenskrig ble de beslaglagte bøkene fraktet til og fra ulike oppbevaringssteder i Tsjekkoslovakia. // Nasjonalbiblioteket, Tsjekkia"></div>

<!-- Collection -->
<div section-box id="collection" text-closed="Bøkenes vitnesbyrd" text-open="Bøkenes vitnesbyrd"
     poster-src="collection.jpg" video-src="" gif-src="" force-iphone-video="false"
      caption-text="Beslaglagte bøker // Nasjonalbiblioteket, Tsjekkia"></div>

<!-- Provenance -->
<div section-box id="provenance" text-closed="Proveniens" text-open="Proveniens"  mosaic-mode=true
     poster-src="provenance.jpg" video-src="" gif-src="" force-iphone-video="false" caption-text=""
></div>

<!-- Archival Process -->
<div section-box id="process" text-closed="Hva vi gjør med bøkene" text-open="Hva vi gjør med bøkene"
     poster-src="process_still.jpg" video-src="process.mp4" gif-src="process4.gif" force-iphone-video="false"
      caption-text="Prosjektleder Tomáš Foltýn i nasjonalbibliotekets depo i Neratovice."></div>

<!-- About -->
<div section-box id="about" text-closed="Om prosjektet" text-open="Om prosjektet"
     poster-src="cataloging.jpg" video-src="cataloging.mp4" gif-src="" force-iphone-video="false"
      caption-text="">


</div>
