<div class="sectionDetail">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
<!-- Process Selection -->
<div section-box class="subSectionBox" id="process_utvalg" text-closed="// Utvalg"
             text-open="// Utvalg" poster-src="selection.jpg" video-src="" gif-src=""
             force-iphone-video="false"></div>

<!-- Process Cleaning -->
<div section-box class="subSectionBox" id="process_rengjoring" text-closed="// Rengjøring"
             text-open="// Rengjøring" poster-src="cleaning_still.jpg" video-src="cleaning.mp4" gif-src=""
             force-iphone-video="false"></div>

<!-- Process cataloguing -->
<div section-box class="subSectionBox" id="process_katalogisering" text-closed="// Katalogisering"
             text-open="// Katalogisering" poster-src="cataloguing.jpg" video-src="cataloging.mp4" gif-src=""
             force-iphone-video="false"></div>

<!-- Process Story -->
<div section-box class="subSectionBox" id="process_lagring" text-closed="// Lagring"
             text-open="// Lagring" poster-src="storing.jpg" video-src="storing.mp4" gif-src=""
             force-iphone-video="false"></div>

<!-- Process Digitising -->
<div section-box class="subSectionBox" id="process_digitalisering" text-closed="// Digitalisering"
             text-open="// Digitalisering" poster-src="digitalizing.jpg" video-src="digitising.mp4" gif-src=""
             force-iphone-video="false"></div>
