<div class="sectionDetail">
  
<p>Den første delen av prosessen med registreringen av de bøkene som befinner seg i Nasjonalbibliotekets depot, handler om å velge ut de riktige bøkene som skal registreres. Bøkene er en del av et reserve-depot og har derfor ikke vært registrert tidligere. Bibliotekarene må ta ut hver enkelt bok fra hyllene og definere den som innenfor prosjektets rammer eller ikke. Innenfor rammene av prosjektet vil si all frimurer-litteratur og dernest litteratur som ble brakt til Tsjekkoslovakia i løpet av andre verdenskrig og tiden like etter gjennom beslag eller repatriering.</p>

<p>Bøkene har stått under flere lag av støv i årevis og må derfor rengjøres godt før de kan prosesseres videre.</p>

<p>Etter rengjøring katalogiseres bøkene og får egne signaturer når de plasseres tilbake på hyllene. Bøkene blir oppbevart i egne, sikrede lokaler med riktig temperatur. </p>

<p>Tilslutt blir hver eneste bok digitalisert så innholdet på sikt skal kunne være tilgjengelig for almenheten. Til nå er innholdet kun tilgjengelig for Nasjonalbibliotekets ansatte siden bøkenes juridiske status ikke er fullt ut avklart. Når bøkenes status avklares, vil de som Nasjonalbiblioteket skal forvalte videre, kunne gjøres tilgjengelige for almenheten. De vil da kunne brukes til fremtidig forskning og formidling.</p>

<p>For mer informasjon om prosessen fra bøkene velges til de digitaliseres, se <u><a href="http://knihyznovunalezene.eu/en/zajimavosti/cyklus1-vyber.html">Books Discovered Once Again prosjektwebside</a></u>.
</div>

