<!-- place any 'section' HTML in these files -->

<div class="sectionDetail">
    <p>Proveniens og kontekst er viktig når man skal finne ut av hvor ei bok kommer fra. Arbeidet med å finne bokas proveniens handler om å finne ut hvem som tidligere har eid den. Deretter kan man sette boka og bokas eiere inn i en kontekst.</p>

    <div readmore title="Eksempel // Engelbert Pernerstorfer (1850-1918)" id="rm1_context">
         <p><image-and-caption image-src="image114.jpg" caption-text="Stempel nr. 114"></image-and-caption></p>
        <p>Personlig bibliotek fra første verdenskrig. I 1920 ble Pernerstorfers bibliotek innlemmet i «Bibliothek für Arbeiter und Angestellte». Deler av dette biblioteket ble flyttet til Berlin i 1939. Da Tyskland ble bombet i 1944, ble deler av samlingen igjen flyttet til Schlesien og Sudetenland. Deler av Pernerstorfers bibliotek ble funnet i fire forskjellige slott i 1945. Deler havnet i Archival Depot Offenbach. I dag er bøkene delt mellom Nasjonalbiblioteket i Tsjekkia, Bibliothek für Arbeiter und Angestellte og Zentral- und Landes Bibliothek i Berlin.</p>
    </div>
    
    <div readmore title="Eksempel // Spolek ceskych pravniku Vsehrd" id="rm4_context">
        <p><image-and-caption image-src="image404.jpg" caption-text="Stempel nr. 404"></image-and-caption></p>
        <p>En studentforening for jusstudenter, oppkalt etter en sentral tsjekkisk advokat fra 1500-tallet, Viktorin Konrel fra Vsehrdy. Foreningen utga sin egen publikasjon og var tett knyttet til det juridiske fakultetet ved Karlsuniversitetet. Studentforeninga ble forbudt under andre verdenskrig og også i 1948 da kommunistene kom til makten.</p>
    </div>

    <div readmore title="Eksempel // Karl Thums (1904-1971)" id="rm5_context">
        <p><image-and-caption image-src="image646.jpg" caption-text="Stempel nr. 646"></image-and-caption></p>
        <p>Thums var en østerriksk lege og psykiater med spesialfelt innen nevrologi. Han var tilhenger av tenkningen rundt rasehygiene. Han ble medlem av NSDAP i 1931 og kom til Praha i 1939 for å bygge opp et eget rasehygiensk institutt ved det tyske universitetet. Etter krigen fortsatte han å arbeide som lege.</p>
    </div>
    
        <div readmore title="Eksempel // Deutsche Ärzte-Bücherei" id="rm7_context">
                <p><image-and-caption image-src="image395.jpg" caption-text="Stempel nr. 395"></image-and-caption></p>
        <p>Antagelig det største medisinske biblioteket i Tyskland. Deler av biblioteket ble stjålet av Den røde armé. Deler av biblioteket ble funnet i Novy Bor i Tsjekkoslovakia i 1945.</p>
    </div>

    <div readmore title="Eksempel // Kuratorium pro vychovu mladeze" id="rm8_context">
        <p><image-and-caption image-src="image861.jpg" caption-text="Stempel nr. 861"></image-and-caption></p>
        <p>Forening for barn og ungdom som ble etablert i 1942 og startet egne aktiviteter fra og med 1943. Barn fra 10-18 ble opplært i nazistiske idealer. Modellen for foreningen var Hitlerjugend, i likhet med lignende foreninger i andre okkuperte land (for eksempel unghirden i Norge).</p>
    </div>

    <p>Her finner du 60 av over 1200 stempler som er registrert i dette prosjektet til nå.</p>

</div>

<!--button class="btn btn-primary" ng-click="add()">Add</button-->



<!--masonry column-width="100">
    <div class="grid-sizer"></div>
    <masonry-brick ng-repeat="brick in bricks">
        <img ng-src="{{ brick.src }}" alt="A masonry brick">
    </masonry-brick>
</masonry-->

<!--div class="my-masonry">
    <div class="my-masonry-brick" ng-repeat="brick in bricks">
        <img ng-src="{{ brick.src }}" alt="A masonry brick">
    </div>
</div-->
