<!-- place any 'section' HTML in these files -->

<div class="sectionDetail">
    <p>Proveniens og kontekst er viktig når man skal finne ut av hvor ei bok kommer fra. Arbeidet med å finne bokas proveniens handler om å finne ut hvem som tidligere har eid den. Deretter kan man sette boka og bokas eiere inn i en kontekst.</p>

    <div readmore title="Eksempel // Engelbert Pernerstorfer (1850-1918)" id="rm1_context">
         <p><image-and-caption image-src="image114.jpg"></image-and-caption></p>
        <p>Personlig bibliotek fra første verdenskrig. I 1920 ble Pernerstorfers bibliotek innlemmet i «Bibliothek für Arbeiter und Angestellte». Deler av dette biblioteket ble flyttet til Berlin i 1939. Da Tyskland ble bombet i 1944, ble deler av samlingen igjen flyttet til Schlesien og Sudetenland. Deler av Pernerstorfers bibliotek ble funnet i fire forskjellige slott i 1945. Deler havnet i Archival Depot Offenbach. I dag er bøkene delt mellom Nasjonalbiblioteket i Tsjekkia, Bibliothek für Arbeiter und Angestellte og Zentral- und Landes Bibliothek i Berlin.</p>
    </div>
    
    <div readmore title="Eksempel // Statni planovaci urad" id="rm2_context">
        <p><image-and-caption image-src="image852.jpg"></image-and-caption></p>
        <p>Et offentlig kontor med ansvar for økonomi, etablert i 1945 og skiftet navn til Statens Planleggingskommite i 1959. Kontoret hadde ansvar for budsjetter, kontrollere statens økonomi og vurdere eventuell økonomisk vekst.</p>
    </div>

    <div readmore title="Eksempel // Pravnicka jednota" id="rm3_context">
        <p><image-and-caption image-src="image218.jpg"></image-and-caption></p>
        <p>Forening for advokater og jurister etablert i 1864 med flere fremtredende medlemmer som Frantisek Palacky, Albin Braf, Josef Kaizl og Ladislav Celakovsky. Foreningen hadde sitt eget bibliotek som for en stor del var basert på donasjon av boksamlinga til Eberhard Jonak. Senere ble biblioteket innlemmet i det juridiske fakultets bibliotek ved Karlsuniversitetet.</p>
    </div>
    
    <div readmore title="Eksempel // Spolek ceskych pravniku Vsehrd" id="rm4_context">
        <p><image-and-caption image-src="image404.jpg"></image-and-caption></p>
        <p>En studentforening for jusstudenter, oppkalt etter en viktig tsjekkisk advokat fra 1500-tallet, Viktorin Konrel fra Vsehrdy. Foreningen utga sin egen publikasjon og var tett knyttet til det juridiske fakultetet ved Karlsuniversitetet. Studentforeninga ble forbudt under andre verdenskrig og også i 1948 da kommunistene kom til makten.</p>
    </div>

    <div readmore title="Eksempel // Karl Thums (1904-1971)" id="rm5_context">
        <p><image-and-caption image-src="image646.jpg"></image-and-caption></p>
        <p>Thums var en østerriksk lege og psykiater med spesialfelt innen nevrologi. Han var tilhenger av tenkningen rundt rasehygiene. Han ble medlem av NSDAP i 1931 og kom til Praha i 1939 for å bygge opp et eget rasehygiensk institutt ved det tyske universitetet. Etter krigen fortsatte han å arbeide som lege.</p>
    </div>
    
    <div readmore title="Eksempel // Ministerstvo informaci a osvety" id="rm6_context">
        <p><image-and-caption image-src="image204.jpg"></image-and-caption></p>
        <p>Departementet for informasjon ble opprettet i 1945 og hadde sitt eget bibliotek. Departementet skulle revitalisere all informasjon om de nye forholdene etter den tyske okkupasjonen både innenlands og utenlands. Departementet var også ansvarlig for å tilgjengeliggjøre informasjon til folket og hadde ansvaret for presse, forlag, radio, film og hadde kulturkontakt med andre land. Senere fikk departementet også ansvar for utdannelse, bibliotek og teater.</p>
    </div>
    
        <div readmore title="Eksempel // Deutsche Ärzte-Bücherei" id="rm7_context">
                <p><image-and-caption image-src="image395.jpg"></image-and-caption></p>
        <p>Antagelig det største medisinske biblioteket i Tyskland. Deler av biblioteket ble stjålet av Den røde armé. Deler av biblioteket ble funnet i Novy Bor i Tsjekkoslovakia i 1945.</p>
    </div>

    <div readmore title="Eksempel // Kuratorium pro vychovu mladeze" id="rm8_context">
        <p><image-and-caption image-src="image861.jpg"></image-and-caption></p>
        <p>Forening for barn og ungdom som ble etablert i 1942 og startet egne aktiviteter fra og med 1943. Barn fra 10-18 ble opplært i nazistiske idealer. Modellen for foreningen var Hitlerjugend, i likhet med lignende foreninger i andre okkuperte land (for eksempel unghirden i Norge).</p>
    </div>

    <div readmore title="Eksempel // Eugen Müllendorf (1855-1934)" id="rm9_context">
        <p><image-and-caption image-src="image852.jpg"></image-and-caption></p>
        <p>Müllendorf var en tysk ingeniør, forfatter og innflytelsesrik frimurer. Han var med i forskjellige frimurerlosjer i Berlin, og var leder for den største og mest innflytelsesrike losjen i Tyskland. Da Hitler kom til makten, ble Müllendorf i likhet med andre frimurere overvåket av SD. Müllendorfs store bibliotek ble etter hans død i 1934 donert til storlosjen han var medlem av, men ble beslaglag av SD i 1935 da tysk frimureri ble forbudt og oppløst.</p>
    </div>

    <p>Her et lite utvalg av de 1200 hittil katalogiserte såkalte "signs of provenance" i <i>Books Discovered Once Again</i> prosjektet, og bøkene de opptrer i. </p>

</div>

<!--button class="btn btn-primary" ng-click="add()">Add</button-->



<!--masonry column-width="100">
    <div class="grid-sizer"></div>
    <masonry-brick ng-repeat="brick in bricks">
        <img ng-src="{{ brick.src }}" alt="A masonry brick">
    </masonry-brick>
</masonry-->

<!--div class="my-masonry">
    <div class="my-masonry-brick" ng-repeat="brick in bricks">
        <img ng-src="{{ brick.src }}" alt="A masonry brick">
    </div>
</div-->
