

<div timelinebox date-place="1933 // Tyskland" title="Hitler kommer til makten"
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#eee" id="timeline_1">
    <p>Nazifiseringen av det tyske samfunnet begynner for alvor. En ny verdensorden skal skapes og det krever streng kontroll av alle idéer som kommer til uttrykk. Hva folk ser, hører og leser blir fra nå av påvirket gjennom propaganda, sensur og beslaglegging. Alle ytringer som problematiserer nazismen, blir forbudt. Alt som kan oppfattes som kritikk, hån eller latterliggjøring blir forbudt, og det som ifølge nazistene ikke har høyt nok kunstnerisk og moralsk nivå til å gagne det germanske menneske.</p>
        
</div>

<div timeline-textbox box-type="regular" bg-colour="#666622" bg-image="archival-process-skinny.jpg" date-place="June 1970" title-text="Sample title" caption-text="caption text"></div>

<div timelinebox date-place="June 1970" title="Universities are being closed"
     image-src="collection_sample4.jpg" caption-text="Sample 4 image caption" cat-colour="#d46161" bg-colour="#FFF" id="timeline_2">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor non leo non ultricies. Pellentesque vitae lectus porttitor, malesuada purus vel, auctor lectus. Mauris convallis imperdiet massa, commodo semper nunc auctor vel. Sed tristique eros ac urna consequat, eu cursus massa porttitor. Pellentesque consectetur commodo lobortis. Integer ac massa quis tellus dapibus aliquam. Praesent ac dolor sed mauris blandit volutpat ut eu nibh. Phasellus fringilla rhoncus sem, et pellentesque elit porttitor sit amet.</p>
</div>

<div timeline-textbox box-type="quote" bg-colour="#226666" bg-image="archival-process-grey.jpg" date-place="June 1970" title-text="Sample title" caption-text="caption text"></div>

<div timelinebox date-place="June 1970" title="Libraries are damaged"
     image-src="collection_sample4.jpg" caption-text="Sample 4 image caption" cat-colour="#000000" bg-colour="#eee" id="timeline_3">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor non leo non ultricies. Pellentesque vitae lectus porttitor, malesuada purus vel, auctor lectus. Mauris convallis imperdiet massa, commodo semper nunc auctor vel. Sed tristique eros ac urna consequat, eu cursus massa porttitor. Pellentesque consectetur commodo lobortis. Integer ac massa quis tellus dapibus aliquam. Praesent ac dolor sed mauris blandit volutpat ut eu nibh. Phasellus fringilla rhoncus sem, et pellentesque elit porttitor sit amet. </p>
</div>


