

<div timelinebox date-place="1933 // Tyskland" title="Hitler kommer til makten"
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#fff" id="timeline_1">
    <p>Nazifiseringen av det tyske samfunnet begynner for alvor. En ny verdensorden skal skapes og det krever streng kontroll av alle idéer som kommer til uttrykk. Hva folk ser, hører og leser blir fra nå av påvirket gjennom propaganda, sensur og beslaglegging. Alle ytringer som problematiserer nazismen, blir forbudt. Alt som kan oppfattes som kritikk, hån eller latterliggjøring blir forbudt, og det som ifølge nazistene ikke har høyt nok kunstnerisk og moralsk nivå til å gagne det germanske menneske.</p>
</div>

<div timelinebox date-place="10. mai 1933 // Berlin, Tyskland" title="Bokbål"
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#eee" id="timeline_2">
    <p>De tyske studentene brenner universitetets bøker og blir fulgt av 40 000 demonstranter og Joseph Goebbels som holder en appel hvor han uttaler at familien og staten skal fra nå av kun ha den høyeste moral, og dermed brennes alle forfattere som har skrevet «entartet Literatur».
ILLUSTRATION: (det finnes et bilde av dette, det er fint å bruke, og gratis.)</p>
</div>

<div timeline-textbox box-type="quote" bg-colour="#226666" bg-image="archival-process-grey.jpg" date-place="1934 // Norge" title-text="Presse, teater, kringkastning, film og andre kulturformidlere skal fremme nasjonens interesser. Samfundsfiendtlig propaganda og utbredelse av klassehat forbys." caption-text="Nasjonal Samlings partiprogram "></div>

<div timelinebox date-place="1938 // Sudetlandet" title="Bøker fra Sudetlandet"
     image-src="timeline_cz_1938.jpg" caption-text="" cat-colour="#000000" bg-colour="#fff" id="timeline_3">
    <p>Etter at Böhmen og Mähren blir et tysk protektorat, blir bøker fra de mange tsjekkoslovakiske bibliotekene i dette området sensurert og beslaglagt. Uønsket litteratur blir fjernet fra offentlige bibliotek samt kloster-, slotts- og skolebibliotek. All litteratur om frimurere, sosialistisk litteratur og bøker skrevet av jødiske forfattere, emigrantforfattere og soldater fra fremmedlegionen fra første verdenskrig, blir fjernet fra bibliotekene.
ILLUSTRATION: (Deutsches Reich-kartet med et lite portrett av Hitler.)
</p>
</div>

<div timelinebox date-place="1939 // Tsjekkoslovakia" title="De tsjekkiske universitetene blir stengt"
     image-src="timeline_cz_1939.jpg" caption-text="" cat-colour="#000000" bg-colour="#eee" id="timeline_4">
    <p>De forskjellige universitetsbibliotekene i de tsjekkiske områdene som blir okkupert av Tyskland I 1939, mister store deler av sine samlinger gjennom tyskernes konfiskeringer. Charles Universitetet mister nesten en halv million av sine titler. Det tekniske universitetet mister 60 000 bøker. Kunstakademiet i Praha mister 2500 titler. Masaryk Universitetet i Brno mister 250 000 bøker. Bibliotekene ved landbruksuniversitetet og det teknologiske fakultetet ved Universitetet i Pardubice får også mange av sine bøker fjernet.
ILLUSTRATION: (plakat med Bekanntmachung)</p>
</div>

<div timeline-textbox box-type="regular" bg-colour="#226666" bg-image="timeline_no_1940.jpg" date-place="9. april 1940 // Norge" title-text="Norge blir okkupert" caption-text=""></div>

<div timelinebox date-place="10. april 1940 // Oslo og andre steder i Norge" title="Beslag"
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#fff" id="timeline_5">
    <p>Den norske utgaven av Hermann Rauschnings bok Hitler har sagt det, som hadde kommet ut bare noen måneder før okkupasjonen, ble beslaglagt fra Aschehoug forlag. Alle Oslos bokhandler ble besøkt og Rauschnings bok fjernet. Hvis de fant dem noe sted, skulle tyskerne også fjerne Myrsoldater av Wolfgang Langhoff og Mitt liv av Leo Trotskij, som tidligere hadde blitt oversatt og kommet ut på norsk.
ILLUSTRATION: tittelbladet eller selve boka av Rauschning</p>
</div>

<div timelinebox date-place="5. Juli 1940 // Paris" title="Frimurerlosjene i Paris plyndres"
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#eee" id="timeline_6">
    <p>Sommeren 1940 får Alfred Rosenberg (1893-1046), en av Hitlers ledende ideologer, informasjon om at flere store frimurerlosjer i Paris har blitt tilgjengelige etter okkupasjonen av Franrike i juni. 1. juli sender han en forespørsel til Hitler om tillatelse til å la bøkene og arkivene fra disse losjene stå til disposisjon for «Hohe Schule», «Den høye skole», som skulle bli en ledende utdanningsinstitusjon for eliten av nazister. Her skal man studere alle ødeleggende elementer i samfunnet, som for eksempel jøder og frimurere.</p>
</div>

<div timelinebox date-place="17. juli 1940 // Tyskland" title="Einsatzstab Reichsleiter Rosenberg"
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#fff" id="timeline_7">
    <p>Alfred Rosenberg får sin egen avdeling, ERR, som samarbeider tett med Wehrmacht og sikkerhetspolitiet i de okkuperte områdene om å konfiskere interessante samlinger av jødisk- og frimurerlitteratur.</p>
</div>

<div timelinebox date-place="Oktober 1940 // Norge" title="Lister over forbudte bøker"
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#eee" id="timeline_8">
    <p>Kulturminister Gulbrand Lunde oppnevner en litteraturkomité som skal gå igjennom biblioteks- og forlagskataloger for å lage en egen, norsk liste over bøker som skulle forbys. Den norske listen var klar i begynnelsen av 1941 og het «Vern av norsk bokheim». Norske politifolk og lensmenn måtte nå også delta i beslaglegging.</p>
</div>

<div timelinebox date-place="November 1940 // Norge" title="Tyskerne beslaglegger bøker"
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#fff" id="timeline_9">
    <p>Det tyske Reichskommissariat setter i gang større beslagleggelser, og bestemmer at all jødisk litteratur og emigrantlitteratur skal fjernes fra forlag, bokhandlere og bibliotek. Utover høsten blir tyske aksjoner satt i gang. Cirka 80 forfatternavn blir beslaglagt i disse aksjonene, blant dem Franz Kafka, Albert Einstein, Karl Marx, Thomas Mann og Erich Kästner.</p>
</div>

<div timelinebox date-place="1942 // Norge" title="Den norske Forleggerforeningen blir nazifisert"
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#eee" id="timeline_10">
    <p>Fra februar 1942 måtte alle norske forlag være med I den nye, nazistiske forleggerforeningen. Alle forlag måtte også etter hvert sende inn søknad til myndighetene for hver bok de ønsker å gi ut. Altså blir manus sensurert før de kommer ut i bokform. I løpet av 1942 melder flere tradisjonsrike forlag seg ut av forleggerforeningen og sensurreglene blir i helhet trukket tilbake.</p>
</div>

<div timelinebox date-place="1943 // Tyskland" title="De allierte intensiverer bombingen av Tyskland"
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#fff" id="timeline_11">
    <p>Etter som tyskerne ble utsatt for bombing av de allierte, flyttet de store samlinger av konfiskerte bøker og arkiver ut på landet eller til utkantstrøk både i Tyskland og de okkuperte landene. Dermed blir konfiskerte bøker sendt ut på en reise som for en stor del fremdeles ikke har tatt slutt. </p>
</div>

<div timelinebox date-place="1945 // Norge" title="Omvendt sensur"
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#eee" id="timeline_12">
    <p>Da frigjøringen kommer 8. mai 1945, setter landets biblioteker snart i gang med å fjerne all nazistisk litteratur og propaganda fra hyllene. Fra da av blir disse enten ødelagt eller satt på magasiner i bibliotekenes kjellere, til framtidig forskning.</p>
</div>

<div timelinebox date-place="1945 // Tsjekkoslovakia" title="Nye beslag"
     image-src="timeline_cz_1945_1949.png" caption-text="" cat-colour="#000000" bg-colour="#fff" id="timeline_13">
    <p>Etter krigen blir 12 millioner bøker beslaglagt. Alle bøker som har tilhørt nazister, tyskere, ungarere, kollaboratører og andre fiender blir fjernet.</p>
</div>

<div timelinebox date-place="1945-1949 // Offenbach am Main, Tyskland" title="Offenbach Archival Depot"
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#eee" id="timeline_14">
    <p>Fra og med 1945 har De allierte fire sentre i Tyskland som håndterer konfiskert og stjålet materiale fra tiden under andre verdenskrig hvorav Offenbach er en av dem. Herunder kommer kunst, dokumenter, bøker og arkiver. Senteret i Offenbach holder til i den femetasjes tidligere kjemifabrikken IG Farben. Fra dette senteret blir over 5 millioner bøker og manuskripter fra mer enn 4000 europeiske offentlige og private biblioteker over hele Europa og Russland returnert til sine rettmessige eiere. I august 1945 blir alle amerikanske bibliotekarer som da var i militæret, beordret til å arbeide med de enorme mengdene bøker som finnes her.</p>
</div>

<div timelinebox date-place="1948 // Tsjekkoslovakia" title="Uønskede personers eiendommer"
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#fff" id="timeline_15">
    <p>Det tsjekkoslovakiske kommunistregimet beslaglegger eiendommene etter personer som emigrerer ut av landet. De bøkene som finnes i disse eiendommene, tilfaller Nasjonalbiblioteket.</p>
</div>
