<br>

<div timelinebox date-place="1933 // Tyskland" tl-title="Hitler kommer til makten" tl-text="1933 // Tyskland" tl-x=2
     image-src="timeline_eu_1933.jpg" caption-text="Nazistene ødelegger et forskningsbibliotek i Berlin // Wikimedia Commons // Schwules Museum, Berlin" title-colour="#aa3939" cat-colour="#aa3939" bg-colour="#ffffff" id="timeline_1" bg-image="">
    <p>Nazifiseringen av det tyske samfunnet begynner. En ny verdensorden skal skapes og det krever streng kontroll av alle idéer. Hva folk ser, hører og leser blir fra nå av påvirket gjennom propaganda, sensur og beslaglegging. Alle ytringer som problematiserer den nye makten, blir forbudt. Alt som kan oppfattes som kritikk, hån eller latterliggjøring blir forbudt. Det samme gjelder den litteraturen og kunsten som ifølge nazistene ikke har høyt nok kunstnerisk og moralsk nivå til å gagne det germanske menneske.</p>
</div>

<div timelinebox date-place="1933 // Tyskland" tl-title="De første beslagene av frimurernes litteratur" tl-text="1933 // Tyskland" tl-x=3
     image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#eee" id="timeline_2">
</div>

<div timelinebox date-place="10. Mai 1933 // Berlin, Tyskland" tl-title="Bokbål" tl-text="10. Mai 1933 // Berlin" tl-x=4
     image-src="bokbaal.jpg" caption-text="Nazistene brenner bøker i 1933 // Wikimedia Commons // US National Archives" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="timeline_3" bg-image="">
    <p>Medlemmer av de nazistiske studentorganisasjonene brenner universitetenes bøker og blir fulgt av 40 000 demonstranter og Joseph Goebbels som holder en appell hvor han uttaler at familien og staten fra nå av kun skal ha den høyeste moral, og dermed brennes bøkene til alle forfattere som har skrevet «entartet Literatur». Det brennes bokbål over hele Tyskland. Etter dette går flere av de tyske forfatterne som blir sensurert i eksil. For eksempel får den nobelprisvinnende forfatteren Thomas Mann tsjekkisk statsborgerskap utover på 30-tallet, og bosetter seg først i Frankrike, så i Sveits før han og familien slår seg ned i USA og får amerikansk statsborgerskap. 
</p>
</div>

<div timelinebox date-place="1934 // Norge" tl-title="Sensuren nedfelles" tl-text="1934 // Norge" tl-x=6
     image-src="" caption-text="" title-colour="#aa3939" cat-colour="#aa3939" bg-colour="#eee" id="timeline_4">
    <p>Nasjonal Samling vedtar i sitt partiprogram at: "Presse, teater, kringkastning, film og andre kulturformidlere skal fremme nasjonens interesser. Samfundsfiendtlig propaganda og utbredelse av klassehat forbys." 
</p>
</div>

<div timelinebox date-place="1935 // Tyskland" tl-title="Frimureri blir forbudt" tl-text="1935 // Tyskland" tl-x=8
     image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="timeline_5">
</div>

<div timelinebox date-place="30. september 1938 // Sudetenland" tl-title="Münchenavtalen" tl-text="30. september 1938 // Sudetenland" tl-x=12
     image-src="timeline_cz_1938.jpg" caption-text="" title-colour="#226666" cat-colour="#226666" bg-colour="#eee" id="timeline_6" bg-image="">
    <p>Frankrike, England, Tyskland og Italia inngår en avtale og skriver under på en traktat som deler det tsjekkiske landomårdet Sudetenland mellom Tyskland, Polen og Ungarn. Mer enn 50% av innbyggerne i Sudetenland er tyskspråklige, og Hitler krever at Sudetenland skal bli en del av Det tredje riket. Alle tsjekkiske bibliotek blir stengt og mange bøker ødelagt. Dette gjelder ikke bare offentlige bibliotek, men også bibliotek i klostre og slott.
</p>
</div>

<div timelinebox date-place="15. mars 1939 // Tsjekkoslovakia" tl-title="Böhmen und Mähren" tl-text="15. mars 1939 // Tsjekkoslovakia" tl-x=14
     image-src="timeline_cz_march1939.jpg" caption-text="Böhmen und Mähren // Wikimedia Commons" title-colour="#226666" cat-colour="#226666" bg-colour="#fff" id="timeline_7">
    <p>De resterende tsjekkiske områdene i Tsjekkoslovakia blir okkupert av tyskerne og kalt protektorat Böhmen und Mähren. Bøker blir underlagt sensur og beslaglagt i likhet med i de andre okkuperte områdene. Uønsket litteratur blir fjernet fra offentlige bibliotek samt kloster-, slotts- og skolebibliotek. All litteratur om frimurere, sosialistisk litteratur og bøker skrevet av jødiske forfattere, emigrantforfattere og soldater fra fremmedlegionen fra første verdenskrig, blir fjernet fra bibliotekene. 
</p>
</div>

<div timelinebox date-place="1939 // Tsjekkoslovakia" tl-title="De tsjekkiske universitetene blir stengt" tl-text="1939 // Tsjekkoslovakia" tl-x=15
     image-src="timeline_cz_1939.jpg" caption-text="Offentlig kunngjøring" title-colour="#000000" cat-colour="#000000" bg-colour="#eee" id="timeline_8" bg-image="">
    <p>De forskjellige universitetsbibliotekene i de tsjekkiske områdene som blir okkupert av Tyskland i 1939, mister store deler av sine samlinger gjennom tyskernes konfiskeringer. Karlsuniversitetet mister nesten en halv million av sine titler. Det tekniske universitetet mister 60 000 bøker. Kunstakademiet i Praha mister 2500 titler. Masaryk Universitetet i Brno mister 250 000 bøker. Bibliotekene ved landbruksuniversitetet og det teknologiske fakultetet ved Universitetet i Pardubice får også mange av sine bøker fjernet. I tillegg til universitetene blir også andre institusjoner stengt.</p>
</div>

<div timelinebox date-place="9. April 1940 // Norway" tl-title="Norge blir okkupert"  tl-text="9. April 1940 // Norway" tl-x=16
     image-src="timeline_no_april_1940.jpg" caption-text="Tyske soldater marsjerer i Oslos gater, 9. april 1940 // Wikimedia Commons" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" bg-image="" id="timeline_9">
</div>

<div timelinebox date-place="10. April 1940 // Oslo og andre steder i Norge" tl-title="Beslag" tl-text="10. April 1940 // Oslo og andre steder i Norge" tl-x=17
     image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#eee" id="timeline_10">
    <p>En spesialavdeling fra Propagandaministeriet i Berlin oppsøker forlag og bokhandlere og beslaglegger tysk og russisk litteratur. En av bøkene som er viktig å få fjernet, er Herman Rauschnings bok, <i>Hitler har sagt det</i>, som har kommet ut på Aschehoug bare noen måneder før okkupasjonen. Den beskriver de politiske forholdene i Hitlers indre krets. Hvis de kom over dem, skulle spesialavdelinga også beslaglegge <i>Mitt liv</i> av Leo Trotskij, og <i>Myrsoldater</i> av Wolfgang Langhoff, der forholdene i de tyske konsentrasjonsleirene ble beskrevet.</p>
</div>

<div timelinebox date-place="Oktober 1940 // Norge" tl-title="Lister over forbudte bøker" tl-text="Oktober 1940 // Norge" tl-x=18
     image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="timeline_11">
    <p>Nasjonal Samlings kulturminister Gulbrand Lunde oppnevner en litteraturkomité som skal gå igjennom biblioteks- og forlagskataloger for å lage en egen, norsk liste over bøker som skal forbys. Den norske listen, «Vern av norsk bokheim», er klar i begynnelsen av 1941 og blir brukt av norske politifolk og lensmenn, som må gjøre beslag i tillegg til de tyske myndigheter gjør.</p>
</div>

<div timelinebox date-place="November 1940 // Norge" tl-title="Tyske aksjoner mot forlag og bibliotek" tl-text="November 1940 // Norge" tl-x=19
     image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#eee" id="timeline_12">
    <p>Det tyske Reichskommissariat setter i gang større beslag, og bestemmer at all jødisk litteratur og såkalt emigrantlitteratur skal fjernes fra forlag, bokhandlere og bibliotek. Utover høsten starter aksjonene. Bøkene av rundt 80 forfattere blir beslaglagt, blant dem Franz Kafka, Albert Einstein, Karl Marx, Thomas Mann og Erich Kästner.</p>
</div>

<div timelinebox date-place="November 1941 // Norge" tl-title="Snorre Sel – et eksempel på sensur" tl-text="November 1941 // Norge" tl-x=20
     image-src="timeline_no_1941.jpg" caption-text="Utdrag fra boka" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="timeline_13">
    <p>Frithjof Sælen (1917-2004) utgir boka <i>Snorre Sel</i>  og den blir en stor suksess og får til og med god mottagelse i Deutsche Zeitung in Norwegen. Boka om den lille selungens kamp for tilværelsen i det farlige Ishavet der isbjørnen Brummelabb og spekkhoggeren Glefs truer, selger nesten hele opplaget på 12.500 bøker i løpet av kort tid. Bare en måned senere blir imidlertid boka forbudt etter at norske NS-myndigheter mottar klager på bokas politiske budskap. Boka er i følge undertittelen ”En fabel i farger for voksne og barn”. Tegningen av Snorre sels isflak minner konturene av Norge. Eventyret om den lille selungens kamp kan leses som en satirisk fortelling om Norges kamp mot Sovjetunionen (Brummelabb) og Nazi-Tyskland (Glefs), der Snorre sel seirer til slutt. Som spesielt latterlige fremstår de to ismåkene med gule glimt i øynene og røde merker som alltid roper ”Skui, skui”, en dårlig skjult analogi til de norske nazistene og deres soltegn og hilsen ”Heil og sæl”.</p>
</div>

<div timelinebox date-place="1942 // Norge" tl-title="Den norske Forleggerforeningen blir nazifisert" tl-text="1942 // Norge" tl-x=21
     image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#eee" id="timeline_14">
    <p>Fra februar 1942 må alle norske forlag være med i den nye, nazistiske forleggerforeningen. Alle forlag må også etter hvert sende inn søknad til myndighetene for hver bok de ønsker å gi ut. Altså blir manus sensurert før de kommer ut i bokform. I løpet av 1942 melder flere tradisjonsrike forlag seg ut av forleggerforeningen i protest og de nye sensurreglene blir i helhet trukket tilbake.</p>
</div>

<div timelinebox date-place="1943 // Tyskland" tl-title="De allierte intensiverer bombingen av Tyskland" tl-text="1943 // Tyskland" tl-x=22
     image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="timeline_15">
    <p>Sicherheitsdienst (SD) flytter store samlinger av beslaglagte bøker og arkiver fra Berlin til Schlesien og andre grenseområder mot Polen, Østerrike og Tsjekkoslovakia. Mange bøker som ble konfiskert sammen med annen eiendom fra jøder, frimurere og kommunister havner i slott i Sudetenland. Dermed blir beslaglagte bøker sendt ut på en reise som fremdeles ikke er over.</p>
</div>

<div timelinebox date-place="1945 // Norge" tl-title="Omvendt sensur" tl-text="1945 // Norge" tl-x=24
     image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#eee" id="timeline_16">
    <p>Da frigjøringen kommer 8. mai 1945, setter landets biblioteker snart i gang med å fjerne all nazistisk litteratur og propaganda fra hyllene. Fra nå av blir disse enten ødelagt eller satt i magasiner i bibliotekenes kjellere, til framtidig forskning.</p>
</div>

<div timelinebox date-place="1945 // Tsjekkoslovakia" tl-title="Nye beslag" tl-text="1945 // Tsjekkoslovakia" tl-x=25
     image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="timeline_17">
    <p>Etterkrigsregjeringene vedtar at all eiendom som har tilhørt Tsjekkoslovakias sudettyskere skal beslaglegges og sudettyskerne utvises av landet. I denne prosessen, som pågår fram til 1950, blir rundt 12 millioner bøker konfiskert sammen med annen eiendom. I tillegg beslaglegger man eiendom og også bøker som har tilhørt nazister, ungarere, kollaboratører og andre fiender av det nye styret.</p>
</div>

<div timelinebox date-place="1945-1949 // Offenbach am Main, Tyskland" tl-title="Offenbach Archival Depot" tl-text="1945-1949 // Offenbach am Main, Tyskland" tl-x=26
     image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#eee" id="timeline_18">
    <p>Fra og med 1945 har De allierte fire sentre i Tyskland som håndterer konfiskert og stjålet materiale fra tiden under andre verdenskrig. Offenbach er et av dem. I Offenbach blir kunst, dokumenter, bøker og arkiver behandlet. Senteret holder til i den femetasjes tidligere kjemifabrikken til IG Farben. Fra dette senteret blir over 5 millioner bøker og manuskripter fra mer enn 4000 europeiske offentlige og private biblioteker over hele Europa og Russland returnert til sine rettmessige eiere. I august 1945 blir mange amerikanske bibliotekarer som da var i militæret, beordret til å arbeide med de enorme mengdene bøker som finnes her.</p>
</div>

<div timelinebox date-place="Februar 1948 // Tsjekkoslovakia" tl-title="Kommunistene tar over" tl-text="Februar 1948 // Tsjekkoslovakia, Tyskland" tl-x=29
     image-src="timeline_cz_1948.jpg" caption-text="Statsminister og formann i det kommunistiske parti, Klement Gottwald, holder taler til arbeidere i februar 1948" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="timeline_19">
    <p>Etter at kommunistene tar regjeringsmakt i Tsjekkoslovakia, blir også litteraturen av deres fiender beslaglagt. Alle motstandere av kommunismen får sine bøker beslaglagt. Dette innbefatter at all litteratur skrevet av forfattere bosatt utenlands, fanger og andre som er kritiske til kommunismen, blir forbudt. Nasjonalbiblioteket tar seg av å klassifisere og oppbevare de beslaglagte bøkene.</p>
</div>

<div timelinebox date-place="1948 // Tsjekkoslovakia" tl-title="Uønskede personers eiendommer" tl-text="1948 // Tsjekkoslovakia" tl-x=30
     image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#eee" id="timeline_20">
    <p>Det tsjekkoslovakiske kommunistregimet beslaglegger eiendommene til personer som har emigrert fra landet. De bøkene som finnes i disse eiendommene, tilfaller Nasjonalbiblioteket.</p>
</div>

<div timelinebox date-place="1948-1989 // Tsjekkoslovakia" tl-title="Sensur" tl-text="1948-1989 // Tsjekkoslovakia" tl-x=31
     image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="timeline_21">
    <p>Gjennom hele perioden med kommuniststyre i Tsjekkoslovakia, vokser det fram et sensurapparat for å verne folket mot alle skadelige uttrykk i radio, film og litteratur. Ingen bibliotek får ha litteratur av forfattere som kan ha en skadelig påvirkning.</p>
</div>

<div timelinebox date-place="1951 // Tsjekkoslovakia" tl-title="Kommunistregimet forbyr frimureri" tl-text="1951 // Tsjekkoslovakia" tl-x=34
     image-src="" caption-text="" title-colour="#000000" cat-colour="#000000" bg-colour="#eee" id="timeline_22">
    <p></p>
</div>

<div timelinebox date-place="1956 // Tsjekkoslovakia" tl-title="Nye depot" tl-text="1956 // Tsjekkoslovakia" tl-x=43
     image-src="timeline_cz_1958.jpg" caption-text="Houska slott // Nasjonalbiblioteket, Tsjekkia" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="timeline_23">
    <p>Nasjonalbiblioteket får sitt første depot, det gotiske slottet Houska 47 km nord for Praha, som det tyske sikkerhetspolitiet (SD) også hadde brukt til å lagre bøker. Senere får Nasjonalbiblioteket også disponere andre slott til det samme formålet. Mange av de beslaglagte bøkene blir flyttet fra Klementinum, det historiske biblioteket i hjertet av Praha, ut til de forskjellige slottene. I 1990 ble bøkene fra disse slottene flyttet til et annet depot.</p>
</div>

<div timelinebox date-place="1968 // Tsjekkoslovakia" tl-title="Praha-våren" tl-text="1968 // Tsjekkoslovakia" tl-x=63
     image-src="timeline_cz_1968.jpg" caption-text="Praha 1968 // Wikimedia Commons, František Dostál´s arkiv" title-colour="#000000" cat-colour="#000000" bg-colour="#eee" id="timeline_24">
    <p>Under studentopprørene mot kommunistregimet våren 1968, blir sensuren opphevet. Vestlige bøker blir solgt i store opplag. Sensuren blir imidlertid gjeninnført i september, for så å bli opphevet igjen i 1969. Imidlertid kommer en bestemmelse om at alt som skal offentliggjøres må godkjennes av myndighetene.</p>
</div>

<div timelinebox date-place="1989 // Tsjekkoslovakia" tl-title="Kommunismens fall" tl-text="1989 // Tsjekkoslovakia" tl-x=100
     image-src="timeline_cz_1989.jpg" caption-text="Fløyelsrevolusjonen, Praha, 1989 // Wikimedia Commons" title-colour="#000000" cat-colour="#000000" bg-colour="#fff" id="timeline_25">
    <p></p>
</div>
