<footer layout="column" class="gfooter" role="contentinfo">
    <div id="sponsors">
        <div class="inline-block-center" style="margin-top:50px;">
            <img src="img/kom_logo_rgb.jpg" style="height: 80px;">
            <img src="img/MN_logo_vertical_black.gif" style="height: 80px;margin-left: 25px;">
            <img src="img/Color_Line.png" style="height: 80px;margin-left: 25px;">
        </div>
        <div class="inline-block-center" style="margin-top:50px;">
            <img src="img/SPA.png" style="height: 80px;margin-left: 25px;">
            <img src="img/sentrert.png" style="height: 80px;margin-left: 25px;">
            <img src="img/sjoglott.png" style="height: 80px;margin-left: 25px;">
        </div>
        <div class="inline-block-center" style="margin-top:50px;">
            <img src="img/servicetjenester.png" style="height: 50px;margin-left: 25px;">
        </div>
    </div>
</footer>