<footer layout="column" class="gfooter" role="contentinfo">
    <img src="views/img/UiO_Seal_A_ENGs.png" alt="UiO Logo">
    <div>
        <div>
            <p><strong>Emergency Numbers</strong><br>At fires, accidents or serious incidents<br> call: 22 85 66 66</p>
        </div>
        <div>
            <p>
                <strong>More HMS information</strong>
                <br>
                <a href="http://www.uio.no/om/hms/" aria-label="Go to UiOs HMS resources. Note this link will open a new URL in the current browser window">Go to UiOs HMS resources</a>
                <br>
                <a href="http://www.uio.no/studier/kontakt/si-fra/" aria-label="Go to Learning environment. Note this link will open a new URL in the current browser window">Go to Learning environment</a></p>
        </div>
        <div>
            <p>
                <strong>Phone and contact numbers</strong>
                <br>
                Central board: 22 85 50 50
                <br>
                <a href="mailto:ehms-hjelp@uio.no" aria-label="Send an email to ehms-hjelp@uio.no. Note this link will open your default email client with the recipient inserted automatically">ehms-hjelp@uio.no</a></p>
        </div>
    </div>
    <div style="height:200px;"></div>
</footer>