<footer role="contentinfo">
    <div layout="row" role="contentinfo" layout-align="space around" show-gt-md hide class="footerImage">
        <a target="_blank" href="http://www.stiftelsen-arkivet.no/english"><img src="views/img/Arkivet_logo_cmyk_greyscale.png"></a>
        <a target="_blank" href="http://knihyznovunalezene.eu/en/index.html"><img src="views/img/booksdiscoveredonceagain_logo-logo_grayscale.png"></a>
        <a target="_blank" href="http://eeagrants.org"><img src="views/img/Logo-of-EEA-Grants_grayscale.png"></a>
        <a target="_blank" href="http://www.en.nkp.cz/"><img src="views/img/logo_NK_cmyk_greyscale.png"></a>
    </div>
    <div layout="row" role="contentinfo" layout-align="space around" show-sm show-md hide>
        <div layout="column" layout-align="center center" class="footerImage">
            <a target="_blank" href="http://www.stiftelsen-arkivet.no/english"><img src="views/img/Arkivet_logo_cmyk_greyscale.png"></a>
            <br>
            <a target="_blank" href="http://knihyznovunalezene.eu/en/index.html"><img src="views/img/booksdiscoveredonceagain_logo-logo_grayscale.png"></a>
        </div>
        <div layout="column" layout-align="center center" class="footerImage">
            <a target="_blank" href="http://eeagrants.org"><img src="views/img/Logo-of-EEA-Grants_grayscale.png" class="footerImage"></a>
            <br>
            <a target="_blank" href="http://www.en.nkp.cz/"><img src="views/img/logo_NK_cmyk_greyscale.png"></a>
        </div>
    </div>
</footer>