<footer layout="column" class="gfooter" role="contentinfo">
    <img src="views/img/UiO_Segl_As.png" alt="UiO Logo">
    <div>
        <div>
            <p><strong>Nødnummer</strong><br>Ved brann, ulykker og alvorlige<br> hendelser, ring 22 85 66 66</p>
        </div>
        <div>
            <p>
                <strong>Mer HMS informasjon</strong>
                <br>
                <a href="http://www.uio.no/om/hms/" aria-label="Se UiOs HMS ressurser. Merk, lenken skal åpne webaddressen i denne nettleserensfane">Se UiOs HMS ressurser</a>
                <br>
                <a href="http://www.uio.no/studier/kontakt/si-fra/" aria-label="Si fra om læringsmiljøet. Merk, lenken skal åpne webaddressen i denne nettleserensfane">Si fra om læringsmiljøet</a></p>
        </div>
        <div>
            <p>
                <strong>Ved behov for teknisk hjelp</strong>
                <br>
                Sentralbord: 22 85 50 50
                <br>
                <a href="mailto:ehms-hjelp@uio.no" aria-label="Send epost til ehms-hjelp@uio.no. Merk, lenken skal åpne din e-post klient">ehms-hjelp@uio.no</a></p>
        </div>
    </div>
    <div style="height:200px;"></div>
</footer>