<footer role="contentinfo">
    <div layout="row" role="contentinfo" layout-align="space around" show-gt-md hide>
        <img src="views/img/Arkivet_logo_cmyk_greyscale.png" class="footerImage">
        <img src="views/img/booksdiscoveredonceagain_logo-logo_grayscale.png" class="footerImage">
        <img src="views/img/Logo-of-EEA-Grants_grayscale.png" class="footerImage">
        <img src="views/img/logo_NK_cmyk_greyscale.png" class="footerImage">
    </div>
    <div layout="row" role="contentinfo" layout-align="space around" show-sm show-md hide>
        <div layout="column" layout-align="center center">
            <img src="views/img/Arkivet_logo_cmyk_greyscale.png" class="footerImage">
            <br>
            <img src="views/img/booksdiscoveredonceagain_logo-logo_grayscale.png" class="footerImage">
        </div>
        <div layout="column" layout-align="center center">
            <img src="views/img/Logo-of-EEA-Grants_grayscale.png" class="footerImage">
            <br>
            <img src="views/img/logo_NK_cmyk_greyscale.png" class="footerImage">
        </div>
    </div>
</footer>