<footer layout="row" class="gfooter" role="contentinfo">
    <div id="sponsors">
        <div class="inline-block-center" style="margin-top:50px;">
            <img src="views/img/Arkivet_logo_cmyk.png" style="height: 80px;">
            <img src="views/img/booksdiscover-logo.png" style="height: 80px;margin-left: 25px;">
            <img src="views/img/EEAGRANTS.png" style="height: 80px;margin-left: 25px;">
            <img src="views/img/nkp_logo_en.png" style="height: 80px;margin-left: 25px;">
        </div>
    </div>
</footer>