<div class="mosaic">
    <md-grid-list md-cols-sm="2" md-cols-md="4" md-cols-lg="6" md-cols-gt-lg="8" md-row-height="1:1" md-gutter="1px">
        <md-grid-tile ng-repeat="tile in tiles" ng-class="{'mosaic-detail-figure' : tile.detail, 'mosaic-regular-figure' : !tile.detail}" md-rowspan="{{tile.span.row}}" md-colspan="{{tile.span.col}}" ng-click="showDetail(tile)">
            <md-card ng-hide="tile.detail">   <!-- This is the standard tile (no detail) image-->
                <img ng-src="{{tile.src}}_200.jpg">
            </md-card>
            <md-card ng-show="tile.detail" hide-gt-sm>  <!-- Small screens show two images laid out vertically-->
                <img ng-src="{{tile.src}}_640.JPG" >   <!-- larger size = to thumbnail -->
                <img ng-src="{{tile.src}}_640.JPG">    <!-- context image -->
            </md-card>
            <md-card ng-show="tile.detail" hide-sm>  <!-- Larger screens show two images laid out horizontally-->
                <img ng-src="{{tile.src}}_640.JPG" >
            </md-card>
            <md-card ng-show="tile.detail" hide-sm>
                <img ng-src="{{tile.src}}_640.JPG">
            </md-card>
        </md-grid-tile>
    </md-grid-list>
</div>