<md-dialog aria-label="">
    <div ng-click="closeDialog()" flex layout>
        <div layout="row" hide-sm hide-md>
            <img class="mosaicDialogImg" ng-src="{{tile.src}}" aria-label="">
            <img class="mosaicDialogImg" ng-src="{{tile.src_alt}}" err-src="{{url+'.jpg'}}" aria-label="">
        </div>

        <div layout="column" hide-gt-md>
            <img class="mosaicDialogImg" ng-src="{{tile.src}}" aria-label="">
            <img class="mosaicDialogImg" ng-src="{{tile.src_alt}}" err-src="{{tile.src}}" aria-label="">
        </div>
    </div>
</md-dialog>
