<div class="floating-menu" layout="row" layout-align="end center">
    <md-button tabindex="0" aria-label="English" role="menuitem" md-no-ink ng-click="changeLanguage('en')">
        English
    </md-button>
    <md-button tabindex="0" aria-label="Norwegian" role="menuitem" md-no-ink ng-click="changeLanguage('no')">
        Norwegian
    </md-button>
    <md-button tabindex="0" aria-label="Czech" role="menuitem" md-no-ink ng-click="changeLanguage('cs')">
        Czech
    </md-button>
    <md-button tabindex="0" aria-label="{{ 'NAV' | translate }}" role="menuitem" md-no-ink class="stickyHamburger md-icon-button" id="toggleMenu" ng-click="openMenu()">
        <md-icon tabindex="-1" aria-hidden="true" md-svg-icon="views/icons/menu.svg"></md-icon>
    </md-button>
</div>