<div class="sectionDetail">
<meta name="module" content="7,no">

    <!-- All content here is for demonstration of widget usage -->

<div>

    <header role="banner">
        <hmsmoduletitle h-module-no="// Widget examples" h-module-en="// Widget examples" h-quote-no="Instructions how to use widgets" h-quote-en="Instructions how to use widgets"></hmsmoduletitle>
    </header>

    <section style="margin: 0 50px;">

        <p>An <strong>attribute</strong> is extra functionality added to an existing HTML tag e.g. <br><br>
        <pre>&lt;div hmsquickquestion h-question=&quot;Did you know?&quot; h-answer=&quot;No I didn't!&quot;&gt;&lt;/div&gt;</pre><br>
        In that example 'hmsquickquestion', 'h-question' and 'h-answer' are <strong>attributes</strong> added to a div tag</p>
        <br>
        <p>Make sure to include values for all the attributes in your widget code. At this point not doing so may cause unexpected behaviour</p>
        <br><br><br><br>

        <p>An <strong>element</strong> is a new HTML tag e.g. <br><br>
        <pre>&lt;hmsquiz&gt;&lt;/hmsquiz&gt;</pre><br>
        In that example 'hmsquiz' is an <strong>element</strong> created especially for the HMS project, and includes lots of functionality</p>
        <br><br><br><br>

        <a href="/docs">Detailed docs are here...</a>
        <br><br><br><br>

        <h5><pre style="color: green;">ticklist</pre><span>add <strong>class="ticklist"</strong> to show '✔' marks on 'li' elements</span></h5><br>
        <pre><code>&lt;ul class=&quot;ticklist&quot;&gt;
    &lt;li&gt;Kle p&aring; deg lagvis og tilpass mengden kl&aelig;r til aktiviteten&lt;/li&gt;
    &lt;li&gt;Ha ullkl&aelig;r eller superundert&oslash;y innerst mot kroppen&lt;/li&gt;
    &lt;li&gt;Isoler kroppen med det n&oslash;dvendige antall gensere&lt;/li&gt;
&lt;/ul&gt;</code></pre><br>
        <ul class="ticklist">
            <li>Kle på deg lagvis og tilpass mengden klær til aktiviteten</li>
            <li>Ha ullklær eller superundertøy innerst mot kroppen</li>
            <li>Isoler kroppen med det nødvendige antall gensere</li>
        </ul>
        <br><br><br><br>

        <h5><pre style="color: green;">dashlist</pre><span>add <strong>class="dashlist"</strong> to show '—' marks on 'li' elements</span></h5><br>
        <pre><code>&lt;ul class=&quot;dashlist&quot;&gt;
            &lt;li&gt;Kle p&aring; deg lagvis og tilpass mengden kl&aelig;r til aktiviteten&lt;/li&gt;
            &lt;li&gt;Ha ullkl&aelig;r eller superundert&oslash;y innerst mot kroppen&lt;/li&gt;
            &lt;li&gt;Isoler kroppen med det n&oslash;dvendige antall gensere&lt;/li&gt;
            &lt;/ul&gt;</code></pre><br>
        <ul class="dashlist">
            <li>Kle på deg lagvis og tilpass mengden klær til aktiviteten</li>
            <li>Ha ullklær eller superundertøy innerst mot kroppen</li>
            <li>Isoler kroppen med det nødvendige antall gensere</li>
        </ul>
        <br><br><br><br>

        <h5><pre style="color: green;">bullets</pre></h5><br>
        <pre><code>&lt;ul&gt;&lt;li&gt;Kle p&aring; deg lagvis og tilpass mengden kl&aelig;r til aktiviteten&lt;/li&gt;
&lt;li&gt;Ha ullkl&aelig;r eller superundert&oslash;y innerst mot kroppen&lt;/li&gt;
&lt;li&gt;Isoler kroppen med det n&oslash;dvendige antall gensere&lt;/li&gt;&lt;ul&gt;</code></pre><br>
        <ul>
            <li>Kle på deg lagvis og tilpass mengden klær til aktiviteten</li>
            <li>Ha ullklær eller superundertøy innerst mot kroppen</li>
            <li>Isoler kroppen med det nødvendige antall gensere</li>
        </ul>
        <br><br><br><br>

        <h5><pre style="color: green;">quickquestion</pre><span>use this to ask a question and give an answer on 'click' or 'tap' (attribute)</span></h5>
        <pre><code>&lt;div quickquestion question=&quot;Did you know?&quot; answer=&quot;No I didn't!&quot;&gt;&lt;/div&gt;</code></pre>
        <div quickquestion g-question="Did you know that this is a very long quick question that seems to have no end?" g-answer="No I didn't!"></div>
        <br><br><br><br>

        <h5><pre style="color: green;">readmore</pre><span>Add this attribute to make an element (use a div) containing 'read more' information. The 'rid' must be unique for the page.
            'type' can be 'readmore' or empty to show the "read more" icon. Use "task" to show a notepad icon.
            Any HTML placed inside as children will be hidden until "Read More.." is clicked (attribute)</span></h5>
        <pre><code>&lt;div hmsreadmore rid=&quot;rm1&quot; title=&quot;Click me to read more..&quot; type=&quot;readmore&quot; &gt;&lt;/div&gt;</code></pre>
        <div readmore rid="rm1" title="Click me to read more.." type="readmore">Here is the content inside!</div>

        <h5><pre style="color: green;">readmore (task)</pre></h5>
        <pre><code>&lt;div readmore rid=&quot;rm2&quot; title=&quot;This readmore has a task icon&quot; type=&quot;task&quot; &gt;&lt;/div&gt;</code></pre>
        <div readmore rid="rm2" title="This 'readmore' has a task icon" type="task">Here is the content inside!</div>
        <br><br><br><br>

        <h5><pre style="color: green;">greybox</pre><span>Add this attribute to make 'grey box' statement. Include 'h-type' to set a icon (attribute)</span></h5>
        <pre><code>&lt;div greybox type=&quot;warning&quot;&gt;This is some text that you should be aware of!&lt;/div&gt;</code></pre>
        <div greybox type="warning">This is some text that you should be aware of!</div>

        <h5><pre style="color: green;">greybox</pre></h5>
        <pre><code>&lt;div greybox type=&quot;story&quot;&gt;This is some story text&lt;/div&gt;</code></pre>
        <div greybox type="story">This is some story text</div>

        <h5><pre style="color: green;">greybox</pre></h5>
        <pre><code>&lt;div greybox type=&quot;funfact&quot;&gt;This is a fun fact!&lt;/div&gt;</code></pre>
        <div greybox type="funfact">This is a fun fact!</div>

        <h5><pre style="color: green;">greybox</pre></h5>
        <pre><code>&lt;div greybox&gt;This is a box with no type&lt;/div&gt;</code></pre>
        <div greybox>This is a box with no type</div>
        <br><br><br><br>

        <h5><pre style="color: green;">quotebox</pre></h5>
        <pre><code>&lt;div quotebox h-type=&quot;quote&quot;&gt;This is a box for stories and quotations&lt;/div&gt;</code></pre>
        <div quotebox type="quote">This is short quotation</div>

        <h5><pre style="color: green;">quotebox</pre></h5>
        <pre><code>&lt;div quotebox h-type=&quot;story&quot;&gt;This is a box for stories and quotations&lt;/div&gt;</code></pre>
        <div quotebox type="story">This is longer story. This is longer story. This is longer story. This is longer story. This is longer story. This is longer story. This is longer story. This is longer story. This is longer story</div>
        <br><br><br><br>

        <h5><pre style="color: green;">glink</pre><span>add a link icon to the end of a html link (attribute)</span></h5>
        <pre><code>&lt;a glink href=&quot;http://somewhere.com&quot;&gt;This link is shown with a link icon to the right&lt;/a&gt;</code></pre>
        <glink href="http://somewhere.com">This link is shown with a link icon to the right</glink>
        <br><br><br><br>

        <h5><pre style="color: green;">moduletitle</pre><span>Create a module title and quotation (element) </span></h5>
        <pre><code>&lt;moduletitle module-no=&quot;// 3. Lab-sikkerhet&quot; module-en=&quot;// 3. Lab safety&quot;
        quote-no=&quot;Vann i syre blir uhyre, syre i vann g&aring;r an&quot; quote-en=&quot;Water in acid
        is dangerous, acid in water is better&quot;&gt;&lt;/moduletitle&gt;</code></pre>
        <moduletitle module-no="// 3. Lab-sikkerhet" module-en="// 3. Lab safety"
        quote-no="Vann i syre blir uhyre, syre i vann går an" quote-en="Water in acid is dangerous, acid in water is better"></moduletitle>
        <br><br><br><br>

        <h5><pre style="color: green;">quiz</pre></h5>
            <p>Add this element anywhere to create a quiz (element).</p>
        <pre><code>&lt;quiz qid=&quot;1&quot;&gt;&lt;/quiz&gt;</code></pre>

        <quiz qid="0"></quiz>
        <br><br><br><br>

        <!--h5><pre style="color: green;">poll</pre><span>Add this element anywhere to create a Poll (element)</span></h5>
        <pre><code>&lt;poll pid=&quot;12&quot;&gt;&lt;/poll&gt;</code></pre>
        <br><pre>
        * pid:        Must match the ID in the poll database    ("id")</pre-->
        <!--poll pid="12"></poll-->
        <br><br><br><br>

    </section>
</div>
</div>