<!-- place any 'section' HTML in these files -->

<div class="sectionDetail">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor non leo non ultricies. Pellentesque vitae
    lectus porttitor, malesuada purus vel, auctor lectus. Mauris convallis imperdiet massa, commodo semper nunc auctor
    vel. Sed tristique eros ac urna consequat, eu cursus massa porttitor. Pellentesque consectetur commodo lobortis.
    Integer ac massa quis tellus dapibus aliquam. Praesent ac dolor sed mauris blandit volutpat ut eu nibh.
    Phasellus fringilla rhoncus sem, et pellentesque elit porttitor sit amet. Ut elementum eu justo semper auctor.
    Mauris lorem quam, molestie eget vehicula vitae, pellentesque vulputate ex. Mauris tincidunt tempor justo, in
    venenatis lorem vehicula sed. Integer dictum ullamcorper pulvinar. Phasellus mattis, nulla et fringilla lacinia,
    mi eros malesuada felis, sed bibendum justo lacus consequat odio. Nunc vitae ante nibh. Phasellus pharetra nunc
    vitae feugiat eleifend. Praesent sagittis pulvinar ullamcorper. Fusce non risus et libero iaculis finibus.
    Phasellus rhoncus aliquam tincidunt. Praesent dignissim nisi ut massa vestibulum efficitur.</p>
    <image-and-caption image-src="views/content/img/samples/image1_200.jpg"
                       caption-text="This is some caption text for the image">
    </image-and-caption>
    <p>Vestibulum risus orci, dictum eget iaculis id, egestas ac arcu. Integer tincidunt sem nibh, vitae ultricies neque
    consectetur venenatis. Nulla vestibulum molestie tincidunt. Praesent quis dui et ipsum luctus laoreet non ut neque.
    Nullam dolor tortor, ultricies in arcu in, tincidunt molestie tortor. Nunc rutrum, odio quis tristique vehicula,
    neque justo facilisis massa, non sollicitudin lorem orci sed velit.</p>

    <quiz qid="0"></quiz>

    <div quotebox type="quote"> <p>This is the box content with a lot of text. This is the box content with a lot of text</p> </div>

    <div readmore title="Read more about WW2.." id="context_ww2_rm1">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor non leo non ultricies. Pellentesque vitae
            lectus porttitor, malesuada purus vel, auctor lectus. Mauris convallis imperdiet massa, commodo semper nunc auctor
            vel. Sed tristique eros ac urna consequat, eu cursus massa porttitor.</p>
    </div>

</div>
