<!-- place any 'section' HTML in these files -->

<div class="sectionDetail">
<p>Books that went astray after World War II have long been a forgotten subject, except for the people, the institutions and organizations that have been directly affected by seizures and confiscations of property. The books that are now being registered in this project will stand as a memorial to how a totalitarian regime has tried to curtail freedom of expression, prohibiting books and organizations, confiscating and stealing valuable art and literature and persecuting and killing people.</p>
<p>The project of registering and re-establishing this book collection in the Czech Republic is a cooperation between the <u><a href="http://www.en.nkp.cz/">National Library of the Czech Republic</a></u> and <u><a href="http://www.stiftelsen-arkivet.no/"></a>Stiftelsen Arkivet</a></u> in Norway. The project is supported by funds from the EEA.</p>
<p>For more information about the project, its findins and closing seminars, please see <u><a href="http://knihyznovunalezene.eu/en/index.html">the project website</a></u>, or contact project leader at the National Library of the Czech Republic, <u><a href="mailto:Tomas.Foltyn@nkp.cz">Tomáš Foltýn</a></u>, or project leader at Stiftelsen ARkivet, <u><a href="mailto:gro.kvanvig@stiftelsen-arkivet.no">Gro Kvanvig</a></u>.</p>
</div>



