<!-- Process Selection -->
<div section-box id="archival_process_selection" text-closed="PROCESS // Selection"
             text-open="PROCESS // Selection" poster-src="0.0.jpg" video-src="1.1.mp4" gif-src=""
             force-iphone-video="false"></div>

<!-- Process Cleaning -->
<div section-box id="archival_process_cleaning" text-closed="PROCESS // Cleaning"
             text-open="PROCESS // Cleaning" poster-src="0.0.jpg" video-src="1.1.mp4" gif-src=""
             force-iphone-video="false"></div>

<!-- Process cataloguing -->
<div section-box id="archival_process_cataloguing" text-closed="PROCESS // Cataloguing"
             text-open="PROCESS // Cataloguing" poster-src="0.0.jpg" video-src="1.1.mp4" gif-src=""
             force-iphone-video="false"></div>

<!-- Process Story -->
<div section-box id="archival_process_story" text-closed="PROCESS // Story"
             text-open="PROCESS // Story" poster-src="0.0.jpg" video-src="1.1.mp4" gif-src=""
             force-iphone-video="false"></div>

<!-- Process Digitising -->
<div section-box id="archival_process_digitising" text-closed="PROCESS // Digitising"
             text-open="PROCESS // Digitising" poster-src="0.0.jpg" video-src="1.1.mp4" gif-src=""
             force-iphone-video="false"></div>