<div class="sectionDetail">
    <p>If you are a National Library employee, the labels RF E… and RF F… or RF Z… will be no mystery
        to you. For others, the following article on labelling and storing books processed within the
        project may reveal one of the librarians’ secrets.</p>
<p>For monographs containing provenance marks two call numbers are used: RF E… and RF F… where the letters
    “RF” denote the type of collection (Reserve collection) and the letters “E” and “F” denote the book format.
    The letter is followed by a number marking the position of the book on the shelf. Books coming from Freemasons’
    libraries have the RF Z call numbers assigned. Books which have undergone the complete processing are stored
    according to the call numbers assigned.</p>
<p>Booklets, small publications, and damaged volumes which cannot be placed vertically are inserted in protective
    covers - boxes, envelopes, and folders with strings. Books with RF E and RF F call numbers are returned to the
    depository in Neratovice; books from Freemasons’ libraries are sent to the NKF depository in Hostivař, where
    they are stored in secured storerooms meeting climatic standards.</p>
</div>
