<!-- MS 1 -->
<div section-box id="collection_micro_story_1" text-closed="COLLECTION // Micro Story 1"
             text-open="COLLECTION // Micro Story 1" poster-src="collection_sample1.jpg" video-src="" gif-src=""
             force-iphone-video="false"></div>

<!-- MS 2 -->
<div section-box id="collection_micro_story_2" text-closed="COLLECTION // Micro Story 2"
             text-open="COLLECTION // Micro Story 2" poster-src="collection_sample2.jpg" video-src="" gif-src=""
             force-iphone-video="false"></div>

<!-- MS 3 -->
<div section-box id="collection_micro_story_3" text-closed="COLLECTION // Micro Story 3"
             text-open="COLLECTION // Micro Story 3" poster-src="collection_sample3.jpg" video-src="" gif-src=""
             force-iphone-video="false"></div>

<!-- MS 4 -->
<div section-box id="collection_micro_story_4" text-closed="COLLECTION // Micro Story 4"
             text-open="COLLECTION // Micro Story 3" poster-src="collection_sample4.jpg" video-src="" gif-src=""
             force-iphone-video="false"></div>
