<!-- MS 1 -->
<div section-boxid="collection_micro_story_1" text-closed="COLLECTION // Micro Story 1"
             text-open="COLLECTION // Micro Story 1" poster-src="0.0.jpg" video-src="1.1.mp4" gif-src=""
             force-iphone-video="false"></div>

<!-- MS 2 -->
<div section-boxid="collection_micro_story_2" text-closed="COLLECTION // Micro Story 2"
             text-open="COLLECTION // Micro Story 2" poster-src="0.0.jpg" video-src="1.1.mp4" gif-src=""
             force-iphone-video="false"></div>

<!-- MS 3 -->
<div section-boxid="collection_micro_story_3" text-closed="COLLECTION // Micro Story 3"
             text-open="COLLECTION // Micro Story 3" poster-src="0.0.jpg" video-src="1.1.mp4" gif-src=""
             force-iphone-video="false"></div>