<div class="sectionDetail">
<p>In the National Library of the Czech Republic in Prague today we find a collection of 300 000 books that originate from during and just after the Second World War.  Of the 12 000 books that have been selected, about half are Freemason literature. Another portion of the books is Nazi propaganda from the SS library, but otherwise largely general literature, fiction, prose and other books seized from people who were arrested and perhaps deported. What happened with the books and their owners? Why did the books end up in National Library of the Czech Republic? If we look at the books’ provenance, the history of the books’ ownership, we can find some answers.</p>

<p>Owners of a book, whether it is a person or an institution, will as a rule mark it with their ownership. In a library for example, each new book in a collection will be marked with a stamp showing where it belongs. Books in this collection are largely from the 18th, 19th, and 20th centuries, a period during which it was usual to mark books with either a stamp or ex libris bookplate, in other words, a book owner’s mark. Of the around 1 800 stamps and ex libris bookplates registered up to now, it is possible to form an image of who owned which books. It is also possible in some cases to reconstruct the history of the owners of the books, and perhaps this will cast new light on why the books have ended up in the National Library’s collection of confiscated books.</p>

<p>Here are some of the stories.</p>

</div>


<div section-box class="subSectionBox" id="eksemplerfrasamlingen_dreiweltkugelen" text-closed="// Zu den drei Weltkugeln"
             text-open="// Zu den drei Weltkugeln" poster-src="dreiweltkugelen.jpg" video-src="" gif-src=""
             force-iphone-video="false" caption-text="<i>Freimaurer Lexicon [Freemason Lexicon]</i>, by Johann Christian Gädicke, published in Berlin 1818, part of Zu den drei Weltkugeln collection."></div>


<div section-box class="subSectionBox" id="eksemplerfrasamlingen_landslogesbibliotek" text-closed="// The Norwegian Masonic Grand Lodge"
             text-open="// The Norwegian Masonic Grand Lodge" poster-src="landslogesbibliotek.jpg" video-src="" gif-src=""
             force-iphone-video="false" caption-text="<i>Mystic Christianity. Or The Inner Teachings of The Master</i>, by Yogi Ramacharaka, published in Chicago, part of The Norwegian Masonic Grand Lodge collection."></div>
        


<div section-box class="subSectionBox" id="eksemplerfrasamlingen_schwartzbostunitsch" text-closed="// Gregor Schwartz-Bostunitsch"
             text-open="// Gregor Schwartz-Bostunitsch" poster-src="bostunitsch.jpg" video-src="" gif-src=""
             force-iphone-video="false" caption-text="<i>Freimaurerei und Politik [Freemasonry and Politics]</i>, by Dr Adolf Rossberg, published in Berlin, part of Gregor and Frikka Schwartz-Bostunitsch collection."></div>



<div section-box class="subSectionBox" id="eksemplerfrasamlingen_sauer" text-closed="// August Sauer"
             text-open="// August Sauer" poster-src="augustsauer.jpg" video-src="" gif-src=""
             force-iphone-video="false" caption-text="<i>Ante-diluvianische Fidibus-Schnitzel: von 1842 bis 1847, Volume 5</i>, by Friedrich von Schwarzenberg, published in Grund 1850, part of August Sauer collection."></div>
             

<div section-box class="subSectionBox" id="eksemplerfrasamlingen_smichovsky" text-closed="// Jiří Arvéd Smíchovský"
             text-open="// Jiří Arvéd Smíchovský" poster-src="smichovsky.jpg" video-src="" gif-src=""
             force-iphone-video="false" caption-text="<i>La Gerusalemme liberata [Jerusalem Delivered]</i>, by the poet Ferdinando Martini, published in Milan, part of Jiří Arvéd Smíchovský collection."></div>
             

<div section-box class="subSectionBox" id="eksemplerfrasamlingen_redenhalle" text-closed="// Die Lese- und Redehalle"
             text-open="// Die Lese- und Redehalle" poster-src="leseundredenhalle.jpg" video-src="" gif-src=""
             force-iphone-video="false" caption-text="<i>Plutarchstudien in Italienischen Bibliotheken [Plutarch Studies in Italian Libraries]</i>, by Hans Wegehaupt, first published in 1923, part of Die Lese- und Redehalle der deutschen Studenten in Prag collection.></div>

