<div class="sectionDetail subSection">
    <p>The practice of controlling enemy property was not unique to the Nazis. When the Communists took over the governance of Czechoslovakia after liberation in 1945, everything belonging to Germans, collaborators and other enemies was seized. As of 1948, the Soviet practice was introduced in the country, entailing that all property belonging to people who emigrated was seized by the state, including books. Around 12 million books were seized in Czechoslovakia after the Second World War, and some of these books ended up in what is today the National Library of the Czech Republic. </p>
    <p>In many ways, the Communists ensured a continuation of the Nazi practice of seizing property and restricting free speech and various intellectual and artistic works.</p>

</div>
