<!-- place any 'section' HTML in these files -->

<div class="sectionDetail">
    <p>Ever since people began to write down their thoughts, thus spreading ideas, governments and other authorities have attempted to stop the spread of religious, moral or political ideas that might harm or invalidate the establishment's prevailing ideas. Books have been censured, withdrawn, seized and destroyed. Authors and scientists have been persecuted and many have also been mistreated and killed for the thoughts and ideas they have put in writing. Science, politics, religion, art: new ideas can be dangerous, and it is important for a totalitarian regime to control what ideas are thought about and what opinions and attitudes are expressed.</p>
    </div>

<!-- WW2 -->
<div section-box id="context_ww2" text-closed="Background // WW2"
             text-open="Background // WW2" poster-src="WW2.jpg" video-src="" gif-src=""
             force-iphone-video="false" caption-text="In 1939, the Nazis established a separate Reiche Security Central Office. Its first head was Reinhard Heydrich, third man from the left, until he was the target of a successful assassination in Prague in 1941 by the Czechoslovakia anti-nazi resistance movement. Reiche Security Central Office department for written sources were assigned to see that the Nazification of the occupied countries went as it should, and they were to produce anti-Jewish and anti-masonic propaganda. Courtesy of online exhibit <i>Reinhard Heydrich assassination – the death of the holocaust architect</i> // Embassy of Czech Republic in Tel Aviv."></div>

<!-- Post War Era -->
<div section-box id="context_post_war_era" text-closed="Background // Post War Era"
             text-open="Background // Post War Era"  poster-src="ww2_3.jpg" video-src="" gif-src=""
             force-iphone-video="false" caption-text="Smìchov, Prague 1978. Red flags celebrate 30 years since the Communist take-over of February 1948 // Wikimedia Commons// Deutsches Bundesarchiv">
    
</div>
