<!-- place any 'section' HTML in these files -->

<div class="sectionDetail">
    <p>Ever since people began to write down their thoughts, thus spreading ideas, governments and other authorities have attempted to stop the spread of religious, moral or political ideas that might harm or invalidate the establishment's prevailing ideas. Books have been censured, withdrawn, seized and destroyed. Authors and scientists have been persecuted and many have also been mistreated and killed for the thoughts and ideas they have put in writing. Science, politics, religion, art: new ideas can be dangerous, and it is important for a totalitarian regime to control what ideas are thought about and what opinions and attitudes are expressed.</p>
    </div>

<!-- WW2 -->
<div section-box id="context_ww2" text-closed="Background // WW2"
             text-open="Background // WW2" poster-src="WW2.jpg" video-src="" gif-src=""
             force-iphone-video="false"></div>

<!-- Post War Era -->
<div section-box id="context_post_war_era" text-closed="Background // Post War Era"
             text-open="Background // Post War Era"  poster-src="postwarera.jpg" video-src="" gif-src=""
             force-iphone-video="false"></div>
