<!-- place any 'section' HTML in these files -->

<div class="sectionDetail">
    <p>Ever since people began to write down their thoughts, thus spreading ideas, the government and other authorities have attempted to stop the spread of religious, moral or political ideas that might harm or invalidate the establishment's prevailing ideas. Books have been censured, withdrawn, seized and destroyed. Authors and scientists have been persecuted and many have also been mistreated and killed for the thoughts and ideas they have put in writing. Science, politics, religion, art: new ideas can be dangerous, and it is important for a totalitarian regime to control what ideas are thought and what opinions and attitudes are expressed.</p>
    </div>

<!-- WW2 -->
<div section-box id="context_ww2" text-closed="// World War II"
             text-open="// World War II" poster-src="ww2_des.jpg" video-src="" gif-src=""
             force-iphone-video="false" caption-text="Destruction of a research library in Berlin // Wikimedia Commons // Schwules Museum, Berlin"></div>

<!-- Post War Era -->
<div section-box id="context_post_war_era" text-closed="// Post War Years"
             text-open="// Post War Years"  poster-src="background_postwar_des.jpg" video-src="" gif-src=""
             force-iphone-video="false" caption-text="Prague 1978. Red flags celebrate 30 years since the Communist take-over of February 1948 // Wikimedia Commons// Deutsches Bundesarchiv">
    
</div>

