
<div class="sectionDetail subSection">
    <p>Smichovsky was a Freemason and his private library is considered to have been the largest collection of occult literature in Czechoslovakia. He was arrested on 15 May 1945 and charged with having collaborated with the Nazis. In 1947, he was sentenced to life in prison and later died in Mirov prison. While he was in prison, the National Library wrote to the Ministry of Education, which until then had Smichovsky’s library in its safekeeping, and asked to have the books handed over. The history of Smichovsky’s occult library tells another story about this collection; a tale in which the National Library itself played a role in the acquisition of the books.</p>
</div>
