<!-- place any 'section' HTML in these files -->

<div class="sectionDetail">

<div quotebox type="quote"> <p>Papers, documents and letters were swept into Czechoslovakia by the fire storm.”</p> </div>
<p><i>Anna Fosse Clauss, in a letter home to Norway during the bombing of Dresden in 1945.</i></p>

<p>In the National Library of the Czech Republic in Prague, a cache of books has remained untouched for many years. Until now, they have remained unregistered in the library’s catalogues. These are confiscated books from the Second World War, and from the period just after the war. Here comes the history of these books, a history that as yet has not been completed.</p>

<p>A simple estimate is that some 12 million books may have been seized after the Second World War in Czechoslovakia. Most of these books were handled by the Czechoslovakian National Library. The books are from the 18th, 19th and 20th centuries. </p>

<p>The National Library selected 300 000 seized books of foreign origin and found out that about 12 000 titles are stamped with the owners’ names. Thus the work may begin to map each individual book’s journey. Who owned the book? Why was it seized? What happened to the owner of the book? Where did the book end up? Who has dealt with the book? And why is it now found in the National Library of the Czech Republic?</p>

<p>The book collection tells many tales. One of them is the history of totalitarian regimes’ attempts to exterminate undesirable people and their historical writings. Here and now, you will encounter the stories of some of the books that the Nazis and Communists tried to eliminate. You will also encounter the history of two countries that, in different ways, were changed by the Nazis’ presence.</p>

</div>

