<meta name="module" content="1,no">
    <header aria-role="banner">
        <div>
            <div class="topQuoteMarks" aria-hidden="true">
                <span>“</span>
            </div>
            <div class="topQuoteText">
                <span class="topQuote">BOOKS DISCOVERED ONCE AGAIN</span><p class="topSubtitle">// VIRTUAL EXHIBIT</p>
            </div>
        </div>
    </header>

    <!-- Each DIV block defined below represents an opening 'section' headed with image/video introduction -->
    <!-- This directive shows a placeholder image, replaced with video content (or animated GIF for mobile devices) when clicked. Click also activates the following section. Unique section ID must be included-->


    <!-- Intro -->
    <div div section-box id="intro" text-closed="Intro" text-open="Intro"
                 poster-src="intro.jpg" video-src="" gif-src="" force-iphone-video="false"></div>

    <!-- Context -->
    <div section-box id="context" text-closed="Context" text-open="Context"
                 poster-src="context.jpg" video-src="" gif-src="" force-iphone-video="false"></div>

    <!-- Timeline -->
    <div section-box id="timeline" text-closed="Timeline" text-open="Timeline"
                 poster-src="timeline.jpg" video-src="" gif-src="" force-iphone-video="false"></div>

    <!-- Collection -->
    <div section-box id="collection" text-closed="Collection" text-open="Collection"
                 poster-src="collection.jpg" video-src="" gif-src="" force-iphone-video="false"></div>




</div>
