<meta name="module" content="1,no">

<!-- Each DIV block defined below represents an opening 'section' headed with image/video introduction -->
<!-- This directive shows a placeholder image, replaced with video content (or animated GIF for mobile devices) when clicked. Click also activates the following section. Unique section ID must be included-->


<!-- Intro -->
<div section-box id="intro" text-closed="What happened to the books?" text-open="What happened to the books?"
     poster-src="discoveredonceagain.jpg" video-src="" gif-src="" force-iphone-video="false"
     caption-text=""></div>

<!-- Context -->
<div section-box id="context" text-closed="Historical background" text-open="Historical background"
     poster-src="background_des-1.jpg" video-src="" gif-src="" force-iphone-video="false"
     caption-text="B11 December 1941, Berlin. Hitler speaks at Kropp Opera House // Wikimedia Commons // Deutsches Bundesarchiv"></div>

<!-- Timeline -->
<div section-box id="timeline" text-closed="Timeline" text-open="Timeline"
     poster-src="context.jpg" video-src="" gif-src="" force-iphone-video="false" timeline-mode=true
     caption-text="Confiscated books were moved around from place to place after World War II in Czheckoslovakia. // The National Library, Czheck Republic"></div>

<!-- Collection -->
<div section-box id="collection" text-closed="Books witnessing" text-open="Books witnessing"
     poster-src="collection.jpg" video-src="" gif-src="" force-iphone-video="false"
     caption-text="Confiscated Books // The National Library, Czheck Republic"></div>

<!-- Provenance -->
<div section-box id="provenance" text-closed="Provenance" text-open="Provenance" mosaic-mode=true
     poster-src="provenance.jpg" video-src="" gif-src="" force-iphone-video="false"
     caption-text=""></div>

<!-- Archival Process -->
<div section-box id="process" text-closed="What we do with the books" text-open="What we do with the books"
     poster-src="process_still.jpg" video-src="process.mp4" gif-src="process4.gif" force-iphone-video="false"
     caption-text=""></div>

<!-- About -->
<div section-box id="about" text-closed="About the project" text-open="About the project"
     poster-src="cataloging.jpg" video-src="cataloging.mp4" gif-src="" force-iphone-video="false"
     caption-text=""></div>


</div>
