<meta name="module" content="1,no">
    <header aria-role="banner">
        <div>
            <div class="topQuoteMarks" aria-hidden="true">
                <span>“</span>
            </div>
            <div class="topQuoteText">
                <span class="topQuote">BOOKS DISCOVERED ONCE AGAIN</span><p class="topSubtitle">// VIRTUAL EXHIBIT</p>
            </div>
        </div>
    </header>

    <!-- Each DIV block defined below represents an opening 'section' headed with image/video introduction -->
    <!-- This directive shows a placeholder image, replaced with video content (or animated GIF for mobile devices) when clicked. Click also activates the following section. Unique section ID must be included-->


    <!-- Intro -->
    <div div section-box id="intro" text-closed="Intro" text-open="Intro"
                 poster-src="intro.jpg" video-src="" gif-src="" force-iphone-video="false"></div>

    <!-- Context -->
    <div section-box id="context" text-closed="Context" text-open="Context"
                 poster-src="context.jpg" video-src="" gif-src="" force-iphone-video="false"
         caption-text="This is some sample caption text. This is some sample caption text. This is some sample caption text. This is some sample caption text. This is some sample caption text. "></div>

    <!-- Timeline -->
    <div section-box id="timeline" text-closed="Timeline" text-open="Timeline"
                 poster-src="timeline.jpg" video-src="" gif-src="" force-iphone-video="false"
            caption-text=""></div>

    <!-- Collection -->
    <div section-box id="collection" text-closed="Collection" text-open="Collection"
                 poster-src="collection.jpg" video-src="" gif-src="" force-iphone-video="false"></div>

    <!-- Provenance -->
    <div section-box id="provenance" text-closed="Provenance" text-open="Provenance"
         poster-src="collection_sample3.jpg" video-src="" gif-src="" force-iphone-video="false"></div>

    <!-- Archival Process -->
    <div section-box id="archival_process" text-closed="Archival process" text-open="Archival process"
         poster-src="archival-process.jpg" video-src="" gif-src="" force-iphone-video="false"></div>

    <!-- About -->
    <div section-box id="about" text-closed="About" text-open="About"
         poster-src="about.jpg" video-src="" gif-src="" force-iphone-video="false"></div>


</div>
