<div class="sectionDetail">
    <p>
How do we identify which books belong to project and which are not? What do we do with selected titles? And where then we store it? The archival process involved in the <i>Books Discovered Once Again</i> project require both selection, cleaning, cataloguing, labeling and storing, and finaly digitising. Explore the different phases processing each and every of the 12.000 books in the following. </p>
</div>

<!-- Process Selection -->
<div section-box id="process_selection" text-closed="Process // Selection"
             text-open="Process // Selection" poster-src="selection.jpg" video-src="1.1.mp4" gif-src=""
             force-iphone-video="false"></div>

<!-- Process Cleaning -->
<div section-box id="process_cleaning" text-closed="Process // Cleaning"
             text-open="Process // Cleaning" poster-src="cleaning.jpg" video-src="cleaning.mp4" gif-src="cleaning.gif"
             force-iphone-video="false"></div>

<!-- Process cataloguing -->
<div section-box id="process_cataloguing" text-closed="Process // Cataloguing"
             text-open="Process // Cataloguing" poster-src="cataloguing.jpg" video-src="" gif-src=""
             force-iphone-video="false"></div>

<!-- Process Story -->
<div section-box id="process_storing" text-closed="Process // Storing"
             text-open="Process // Storing" poster-src="storing.jpg" video-src="" gif-src=""
             force-iphone-video="false"></div>

<!-- Process Digitising -->
<div section-box id="process_digitising" text-closed="Process // Digitising"
             text-open="Process // Digitising" poster-src="digitalizing.jpg" video-src="" gif-src=""
             force-iphone-video="false"></div>
