<div class="sectionDetail">
  
<p>The first part of the process of registering the books that are to be found in the National Library’s depot, is about selecting the right books to be registered. The books are part of a reserve depot and thus have not previously been registered. The librarians must take each individual book from the shelves and define it as being within the project’s framework or not. Within the framework of the project means all Freemason literature and literature that was brought to Czechoslovakia during World War II and the period right after this, due to seizure or repatriation.</p>

<p>The books have been under several layers of dust for years and must be thoroughly cleaned before they can be further processed.</p>

<p>After a thorough cleaning, the books are catalogued and receive their own signatures when they are placed back on the shelves. The books are kept in separate, secured premises at the proper temperature.</p>

<p>Finally every book is digitized so that the content will be available in the long term to the public. Until now, the content is only available to the National Library’s employees since the legal status of the books has not yet been fully clarified. When the status of the books has been clarified, those that remain with the National Library may be made available to the public.  They will then be able to be used in future research and dissemination.</p>

<p>For more information about the process rom books are being selected until they are digitized, see the <u><a href="http://knihyznovunalezene.eu/en/zajimavosti/cyklus1-vyber.html">Books Discovered Once Again project website</a></u>.
</div>

