<!-- place any 'section' HTML in these files -->

<div class="sectionDetail">
    <p>Provenance and context is important when you want to find out where a book originates from. Finding the provenance of a book, is to find out who the previous owners were. Then you can put the book and its owners into a context.</p>

    <div readmore title="Example // Engelbert Pernerstorfer (1850-1918)" id="rm1_provenance" image-and-caption="{'image': 'image114.jpg', 'caption' : 'Stamp 114'}">
        <p>Personal library from the First World War. In 1920, Pernerstorfer’s library was included in the Bibliothek für Arbeiter und Angestellte (Library for Workers and Employees). Parts of this library were moved to Berlin in 1939. When Germany was bombed in 1944, parts of the collection were again moved to Silesia and Sudetenland. Parts of Pernerstorfer’s library were found in four different castles in 1945. Parts ended up in the Archival Depot Offenbach. Today, the books are distributed among the National Library of the Czech Republic, Bibliothek für Arbeiter und Angestellte and the Berlin Central and Regional Library.</p>
    </div>

    <div readmore title="Example // Deutsche Ärzte-Bücherei" id="rm2_provenanc" image-and-caption="{'image': 'image395.jpg', 'caption' : 'Stamp 395'}">
        <p>Probably the largest medical library in Germany. Parts of the library were stolen by the Red Army. Parts of the library were found in Novy Bor, Czechoslovakia in 1945.</p>
    </div>

    <div readmore title="Example // Spolek ceskych pravniku Vsehrd" id="rm3_provenanc" image-and-caption="{'image': 'image404.jpg', 'caption' : 'Stamp 404'}">
        <p>A student association for law students, named after a prominent Czech lawyer from the 16th century, Viktorin Konrel from Vsehrdy The association issued its own publication and was closely connected with the Faculty of Law at the Charles University. Student associations were banned during the Second World War and also in 1948 when the Communists came to power. </p>
    </div>

    <div readmore title="Example // Karl Thums (1904-1971)" id="rm4_provenanc" image-and-caption="{'image': 'image646.jpg', 'caption' : 'Stamp 646'}">
        <p>Thums was an Austrian doctor and psychiatrist specializing in neurology. He was a supporter of eugenics. He became a member of the NSDAP in 1931 and came to Prague in 1939 to establish a separate eugenics institute at the German University. After the war, he continued his work as a doctor.</p>
    </div>

    <div readmore title="Example // Kuratorium pro vychovu mladeze" id="rm5_provenanc" image-and-caption="{'image': 'image861.jpg', 'caption' : 'Stamp 861'}">
        <p>The Curatorship for Youth Education that was established in 1942 and started its own activities in 1943. Youth from the ages of 10-18 were trained in Nazi ideals. The model for the association was the Hitler Youth, like similar associations in other occupied countries (for example, <i>Unghirden</i> in Norway).</p>
    </div>

    <p>Below you can see 60 out of the 1200 stamps catalogued so far in this project.</p>

</div>

<!-- place any 'section' HTML in these files -->

