<div class="sectionDetail">
    <p>(text missing. to be based on the two articles "Using stamps, among other things, we find out what the journeys of books were", and "Ex Libris: memento of the original owner"). </p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

 
 <div readmore title="Eksempel // Engelbert Pernerstorfer (1850-1918)" id="context_rm1">
        <p>(image coming soon) Personlig bibliotek fra første verdenskrig. I 1920 ble Pernerstorfers bibliotek innlemmet i «Bibliothek für Arbeiter und Angestellte». Deler av dette biblioteket ble flyttet til Berlin i 1939. Da Tyskland ble bombet i 1944, ble deler av samlingen igjen flyttet til Schlesien og Sudetenland. Deler av Pernerstorfers bibliotek ble funnet i fire forskjellige slott i 1945. Deler havnet i Archival Depot Offenbach. I dag er bøkene delt mellom Nasjonalbiblioteket i Tsjekkia, Bibliothek für Arbeiter und Angestellte og Zentral- und Landes Bibliothek i Berlin.</p>
    </div>
    
    <div readmore title="Eksempel // Studentforening" id="context_rm2">
        <p>(image coming soon) Spolek českých právníků Všehrd var en studentforening for jusstudenter, oppkalt etter en viktig tsjekkisk advokat fra 1500-tallet, Viktorin Konrel fra Vsehrdy. Foreningen utga sin egen publikasjon og var tett knyttet til det juridiske fakultetet ved Karlsuniversitetet. Studentforeninga ble forbudt under andre verdenskrig og også i 1948 da kommunistene kom til makten.</p>
    </div>
    
<div readmore title="Eksempel // Karl Thums (1904-1971)" id="context_rm3">
        <p>(image coming soon) Thums var en østerriksk lege og psykiater med spesialfelt innen nevrologi. Han var tilhenger av tenkningen rundt rasehygiene. Han ble medlem av NSDAP i 1931 og kom til Praha i 1939 for å bygge opp et eget rasehygiensk institutt ved det tyske universitetet. Etter krigen fortsatte han å arbeide som lege.</p>
    </div>
    
    <div readmore title="Eksempel // Kuratorium für Jugenderziehung in Böhmen und Mähren" id="context_rm4">
        <p>(image coming soon) Forening for barn og ungdom som ble etablert i 1942 og startet egne aktiviteter fra og med 1943. Barn fra 10-18 ble opplært i nazistiske idealer. Modellen for foreningen var Hitlerjugend, i likhet med lignende foreninger i andre okkuperte land (for eksempel unghirden i Norge).</p>
    </div>
    
     <div readmore title="Eksempel // Eugen Müllendorf (1855-1934)" id="context_rm5">
        <p>(image coming soon) Müllendorf var en tysk ingeniør, forfatter og innflytelsesrik frimurer. Han var med i forskjellige frimurerlosjer i Berlin. Da Hitler kom til makten, ble Müllendorf i likhet med andre frimurere overvåket av SD. Müllendorfs store bibliotek ble etter hans død i 1934 donert til storlosjen han var medlem av, men ble beslaglag av SD i 1935 da tysk frimureri ble forbudt og opphevet.</p>
    </div>
    
    <p>Here a small extract of the 1200 and growing <i>Books Discovered Once Again</i> collection of "signs of provenance", and referance to the books they belong to.</p>
</div>

<!--button class="btn btn-primary" ng-click="add()">Add</button-->



<!--masonry column-width="100">
    <div class="grid-sizer"></div>
    <masonry-brick ng-repeat="brick in bricks">
        <img ng-src="{{ brick.src }}" alt="A masonry brick">
    </masonry-brick>
</masonry-->

<!--div class="my-masonry">
    <div class="my-masonry-brick" ng-repeat="brick in bricks">
        <img ng-src="{{ brick.src }}" alt="A masonry brick">
    </div>
</div-->
