<div class="sectionDetail">
    <p>(text missing. to be based on the two articles "Using stamps, among other things, we find out what the journeys of books were", and "Ex Libris: memento of the original owner"). </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor non leo non ultricies. Pellentesque vitae
        lectus porttitor, malesuada purus vel, auctor lectus. Mauris convallis imperdiet massa, commodo semper nunc auctor
        vel. Sed tristique eros ac urna consequat, eu cursus massa porttitor. Pellentesque consectetur commodo lobortis.
        Integer ac massa quis tellus dapibus aliquam. Praesent ac dolor sed mauris blandit volutpat ut eu nibh.
        Phasellus fringilla rhoncus sem, et pellentesque elit porttitor sit amet. Ut elementum eu justo semper auctor.
        Mauris lorem quam, molestie eget vehicula vitae, pellentesque vulputate ex. Mauris tincidunt tempor justo, in
        venenatis lorem vehicula sed. Integer dictum ullamcorper pulvinar. Phasellus mattis, nulla et fringilla lacinia,
        mi eros malesuada felis, sed bibendum justo lacus consequat odio. Nunc vitae ante nibh. Phasellus pharetra nunc
        vitae feugiat eleifend. Praesent sagittis pulvinar ullamcorper. Fusce non risus et libero iaculis finibus.
        Phasellus rhoncus aliquam tincidunt. Praesent dignissim nisi ut massa vestibulum efficitur.
        Vestibulum risus orci, dictum eget iaculis id, egestas ac arcu. Integer tincidunt sem nibh, vitae ultricies neque
        consectetur venenatis. Nulla vestibulum molestie tincidunt. Praesent quis dui et ipsum luctus laoreet non ut neque.
        Nullam dolor tortor, ultricies in arcu in, tincidunt molestie tortor. Nunc rutrum, odio quis tristique vehicula,
        neque justo facilisis massa, non sollicitudin lorem orci sed velit.</p>
    <p>Here a small extract of the growing <i>Books Discovered Once Again</i> collection of "signs of provenance, and referance to the books they belong to.</p>
</div>

<!--button class="btn btn-primary" ng-click="add()">Add</button-->

<div mosaic></div>

<!--masonry column-width="100">
    <div class="grid-sizer"></div>
    <masonry-brick ng-repeat="brick in bricks">
        <img ng-src="{{ brick.src }}" alt="A masonry brick">
    </masonry-brick>
</masonry-->

<!--div class="my-masonry">
    <div class="my-masonry-brick" ng-repeat="brick in bricks">
        <img ng-src="{{ brick.src }}" alt="A masonry brick">
    </div>
</div-->
