

<div timelinebox date-place="1933 // Germany" title="Hitler comes to power"
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#fff" id="timeline_1">
    <p>The Nazification of German society begins. A new world order is to be created and this requires strict control of all ideas that are expressed. Henceforth, what people see, listen to and read will be subject to propaganda, censorship and seizure. All expressions that oppose Nazism are prohibited. Anything that can be perceived as criticism, scorn or derision is prohibited, and anything that did not attain a high enough artistic and moral level to benefit the German people, according to the Nazis, was banned. </p>
</div>

<div timelinebox date-place="10 May 1933 // Berlin, Germany" title="Book burning"
     image-src="bokbaal.jpg" caption-text="Wikimedia Commons / Bundesarchiv" cat-colour="#000000" bg-colour="#eee" id="timeline_2">
    <p>German students burn the university’s books and are followed by 40,000 demonstrators and Joseph Goebbels, who delivers a speech in which he states that the family and the state from now on shall have the highest morals, and therefore all works by authors’ who have written “degenerate” literature would be burned.
</p>
</div>

<div timelinebox date-place="1934 // Norway" title="Censorship begins"
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#eee" id="timeline_3">
    <p>National Unity adopts in its party programme that: “Press, theatre, broadcasting, film and other purveyors of culture shall promote the interests of the nation. Propaganda that is hostile to society and the dissemination of class hatred is prohibited.” 
</p>
</div>

<div timelinebox date-place="1938 // Sudetenland" title="Books from Sudetenland"
     image-src="timeline_cz_1938.jpg" caption-text="" cat-colour="#000000" bg-colour="#fff" id="timeline_4">
    <p>After Bohemia and Moravia became a German protectorate, books from the many Czechoslovakian libraries in this area were censored and seized. Undesirable literature was removed from public libraries as well as cloister, castle and school libraries. All literature about masonry, socialist literature and books written by Jewish authors, emigrant authors and soldiers of the Foreign Legion from the First World War were removed from the libraries.
</p>
</div>

<div timelinebox date-place="1939 // Czechoslovakia" title="The Czechoslovakian universities are shut down"
     image-src="timeline_cz_1939.jpg" caption-text="" cat-colour="#000000" bg-colour="#eee" id="timeline_5">
    <p>The various university libraries in the Czechoslovakian areas that were occupied by Germany in 1939, lost large parts of their collections through German seizures. Charles University lost almost a half million titles. The Technical University lost 60,000 books. The Academy of Fine Arts in Prague lost 2,500 titles. Masaryk University in Brno lost 250,000 books. The libraries at the Agricultural University and the technological faculty at the University of Pardubice also had many of their books confiscated.</p>
</div>

<div timeline-textbox box-type="regular" bg-colour="#226666" bg-image="timeline_no_1940.jpg" date-place="9 april 1940 // Norway" title-text="Norway is occupied" caption-text="German armored vehicles unloaded in Oslo harbour, April 1940 // Wikimedia Commons, Bundesarchiv"></div>

<div timelinebox date-place="10 April 1940 // Oslo and other places in Norway" title="Seizure"
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#fff" id="timeline_6">
    <p>The Norwegian edition of Hermann Rauschning’s book <i>Hitler speaks</i>, which had been released only a few months before the Occupation, was seized from Aschehoug publishing house. All of Oslo’s bookshops were raided and Rauschning’s book seized. The Germans would also seize <i>The Peat Bog Soldiers</i> by Wolfgang Langhoff and <i>My Life</i> by Leon Trotsky, translated and published in Norwegian, if these books were found in bookshops.</p>
</div>

<div timelinebox date-place="5 July 1940 // Paris" title="The Masonic lodges in Paris are plundered"
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#eee" id="timeline_7">
    <p>In the summer of 1940, Alfred Rosenberg (1893-1946), one of Hitler’s leading ideologists, received information that several large masonic lodges in Paris had become vacant after the occupation of France in June. 1 July, he sent a request to Hitler for permission to allow the <i>Hohe Schule</i>, which was to be the leading educational institution for the Nazi elite, to make use of the books and archives from these lodges. Here, all the destructive elements in society, e.g. the Jews and Freemasons, would be studied.</p>
</div>

<div timelinebox date-place="17 July 1940  // Germany" title="Einsatzstab Reichsleiter Rosenberg"
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#fff" id="timeline_8">
    <p>Alfred Rosenberg får sin egen avdeling, ERR, som samarbeider tett med Wehrmacht og sikkerhetspolitiet i de okkuperte områdene om å konfiskere interessante samlinger av jødisk- og frimurerlitteratur.</p>
</div>

<div timelinebox date-place="Oktober 1940 // Norge" title="Lister over forbudte bøker"
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#eee" id="timeline_9">
    <p>Kulturminister Gulbrand Lunde oppnevner en litteraturkomité som skal gå igjennom biblioteks- og forlagskataloger for å lage en egen, norsk liste over bøker som skulle forbys. Den norske listen var klar i begynnelsen av 1941 og het «Vern av norsk bokheim». Norske politifolk og lensmenn måtte nå også delta i beslaglegging.</p>
</div>

<div timelinebox date-place="November 1940 // Norge" title="Tyskerne beslaglegger bøker"
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#fff" id="timeline_10">
    <p>Det tyske Reichskommissariat setter i gang større beslagleggelser, og bestemmer at all jødisk litteratur og emigrantlitteratur skal fjernes fra forlag, bokhandlere og bibliotek. Utover høsten blir tyske aksjoner satt i gang. Cirka 80 forfatternavn blir beslaglagt i disse aksjonene, blant dem Franz Kafka, Albert Einstein, Karl Marx, Thomas Mann og Erich Kästner.</p>
</div>

<div timelinebox date-place="1942 // Norge" title="Den norske Forleggerforeningen blir nazifisert"
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#eee" id="timeline_11">
    <p>Fra februar 1942 måtte alle norske forlag være med I den nye, nazistiske forleggerforeningen. Alle forlag måtte også etter hvert sende inn søknad til myndighetene for hver bok de ønsker å gi ut. Altså blir manus sensurert før de kommer ut i bokform. I løpet av 1942 melder flere tradisjonsrike forlag seg ut av forleggerforeningen og sensurreglene blir i helhet trukket tilbake.</p>
</div>

<div timelinebox date-place="1943 // Tyskland" title="De allierte intensiverer bombingen av Tyskland"
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#fff" id="timeline_13">
    <p>Etter som tyskerne ble utsatt for bombing av de allierte, flyttet de store samlinger av konfiskerte bøker og arkiver ut på landet eller til utkantstrøk både i Tyskland og de okkuperte landene. Dermed blir konfiskerte bøker sendt ut på en reise som for en stor del fremdeles ikke har tatt slutt. </p>
</div>

<div timelinebox date-place="1945 // Norge" title="Omvendt sensur"
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#eee" id="timeline_14">
    <p>Da frigjøringen kommer 8. mai 1945, setter landets biblioteker snart i gang med å fjerne all nazistisk litteratur og propaganda fra hyllene. Fra da av blir disse enten ødelagt eller satt på magasiner i bibliotekenes kjellere, til framtidig forskning.</p>
</div>

<div timeline-textbox box-type="regular" bg-colour="#226666" bg-image="timeline_cz_1945_1949" date-place="1945 // Tsjekkoslovakia" title-text="Nye beslag" caption-text="Etter krigen blir 12 millioner bøker beslaglagt. Alle bøker som har tilhørt nazister, tyskere, ungarere, kollaboratører og andre fiender blir fjernet."></div>

<div timelinebox date-place="1945 // Tsjekkoslovakia" title="Nye beslag"
     image-src="timeline_cz_1945_1949.png" caption-text="" cat-colour="#000000" bg-colour="#fff" id="timeline_13">
    <p>Etter krigen blir 12 millioner bøker beslaglagt. Alle bøker som har tilhørt nazister, tyskere, ungarere, kollaboratører og andre fiender blir fjernet.</p>
</div>

<div timelinebox date-place="1945-1949 // Offenbach am Main, Tyskland" title="Offenbach Archival Depot"
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#eee" id="timeline_14">
    <p>Fra og med 1945 har De allierte fire sentre i Tyskland som håndterer konfiskert og stjålet materiale fra tiden under andre verdenskrig hvorav Offenbach er en av dem. Herunder kommer kunst, dokumenter, bøker og arkiver. Senteret i Offenbach holder til i den femetasjes tidligere kjemifabrikken IG Farben. Fra dette senteret blir over 5 millioner bøker og manuskripter fra mer enn 4000 europeiske offentlige og private biblioteker over hele Europa og Russland returnert til sine rettmessige eiere. I august 1945 blir alle amerikanske bibliotekarer som da var i militæret, beordret til å arbeide med de enorme mengdene bøker som finnes her.</p>
</div>

<div timelinebox date-place="1948 // Tsjekkoslovakia" title="Uønskede personers eiendommer"
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#fff" id="timeline_15">
    <p>Det tsjekkoslovakiske kommunistregimet beslaglegger eiendommene etter personer som emigrerer ut av landet. De bøkene som finnes i disse eiendommene, tilfaller Nasjonalbiblioteket.</p>
</div>
