

<div timelinebox date-place="1933 // Germany" title="Hitler comes to power"
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#fff" id="timeline_1">
    <p>The Nazification of German society begins. A new world order is to be created and this requires strict control of all ideas that are expressed. Henceforth, what people see, listen to and read will be subject to propaganda, censorship and seizure. All expressions that oppose Nazism are prohibited. Anything that can be perceived as criticism, scorn or derision is prohibited, and anything that did not attain a high enough artistic and moral level to benefit the German people, according to the Nazis, was banned. </p>
</div>

<div timelinebox date-place="10 May 1933 // Berlin, Germany" title="Book burning"
     image-src="bokbaal.jpg" caption-text="Wikimedia Commons / Bundesarchiv" cat-colour="#000000" bg-colour="#eee" id="timeline_2">
    <p>German students burn the university’s books and are followed by 40,000 demonstrators and Joseph Goebbels, who delivers a speech in which he states that the family and the state from now on shall have the highest morals, and therefore all works by authors’ who have written “degenerate” literature would be burned.
</p>
</div>

<div timelinebox date-place="1934 // Norway" title="Censorship begins"
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#fff" id="timeline_3">
    <p>National Unity adopts in its party programme that: “Press, theatre, broadcasting, film and other purveyors of culture shall promote the interests of the nation. Propaganda that is hostile to society and the dissemination of class hatred is prohibited.” 
</p>
</div>

<div timelinebox date-place="1938 // Sudetenland" title="Books from Sudetenland"
     image-src="timeline_cz_1938.jpg" caption-text="" cat-colour="#000000" bg-colour="#eee" id="timeline_4">
    <p>After Bohemia and Moravia became a German protectorate, books from the many Czechoslovakian libraries in this area were censored and seized. Undesirable literature was removed from public libraries as well as cloister, castle and school libraries. All literature about masonry, socialist literature and books written by Jewish authors, emigrant authors and soldiers of the Foreign Legion from the First World War were removed from the libraries.
</p>
</div>

<div timelinebox date-place="1939 // Czechoslovakia" title="The Czechoslovakian universities are shut down"
     image-src="timeline_cz_1939.jpg" caption-text="" cat-colour="#000000" bg-colour="#fff" id="timeline_5">
    <p>The various university libraries in the Czechoslovakian areas that were occupied by Germany in 1939, lost large parts of their collections through German seizures. Charles University lost almost a half million titles. The Technical University lost 60,000 books. The Academy of Fine Arts in Prague lost 2,500 titles. Masaryk University in Brno lost 250,000 books. The libraries at the Agricultural University and the technological faculty at the University of Pardubice also had many of their books confiscated.</p>
</div>

<div timeline-textbox box-type="regular" bg-colour="#226666" bg-image="timeline_no_1940.jpg" date-place="9 april 1940 // Norway" title-text="Norway is occupied" caption-text="German armored vehicles unloaded in Oslo harbour, April 1940 // Wikimedia Commons, Bundesarchiv"></div>

<div timelinebox date-place="10 April 1940 // Oslo and other places in Norway" title="Seizure"
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#fff" id="timeline_6">
    <p>The Norwegian edition of Hermann Rauschning’s book <i>Hitler speaks</i>, which had been released only a few months before the Occupation, was seized from Aschehoug publishing house. All of Oslo’s bookshops were raided and Rauschning’s book seized. The Germans would also seize <i>The Peat Bog Soldiers</i> by Wolfgang Langhoff and <i>My Life</i> by Leon Trotsky, translated and published in Norwegian, if these books were found in bookshops.</p>
</div>

<div timelinebox date-place="5 July 1940 // Paris" title="The Masonic lodges in Paris are plundered"
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#eee" id="timeline_7">
    <p>In the summer of 1940, Alfred Rosenberg (1893-1946), one of Hitler’s leading ideologists, received information that several large masonic lodges in Paris had become vacant after the occupation of France in June. 1 July, he sent a request to Hitler for permission to allow the <i>Hohe Schule</i>, which was to be the leading educational institution for the Nazi elite, to make use of the books and archives from these lodges. Here, all the destructive elements in society, e.g. the Jews and Freemasons, would be studied.</p>
</div>

<div timelinebox date-place="17 July 1940  // Germany" title="Einsatzstab Reichsleiter Rosenberg [The Rosenberg Taskforce]"
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#fff" id="timeline_8">
    <p>Alfred Rosenberg was given his own special department, ERR, which collaborated closely with the Wehrmacht and Gestapo in the occupied areas to seize collections of Jewish and Masonic literature of interest. </p>
</div>

<div timelinebox date-place="October 1940 // Norway" title="List of prohibited books"
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#eee" id="timeline_9">
    <p>The Minister of Culture, Gulbrand Lunde, appoints a literature committee that is tasked with going through the libraries’ and publishing houses’ catalogues to make a separate, Norwegian list of books to be banned. The Norwegian list was finished in the beginning of 1941 and entitled: “Vern av norsk bokheim” (Protection of the Norwegian book repositories). Norwegian police and sheriffs now also had to participate in the seizures.</p>
</div>

<div timelinebox date-place="November 1940 // Norway" title="The Germans seize books"
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#fff" id="timeline_10">
    <p>The German Reichskommissariat Norwegen begins major seizures and decides that all Jewish literature and emigrant literature is to be removed from publishing houses, bookshops and libraries. The German raids are deployed in the autumn Books by about 80 authors (among them Franz Kafka, Albert Einstein, Karl Marx, Thomas Mann and Erich Kästner) were seized in these raids.</p>
</div>

<div timelinebox date-place="1942 // Norway" title="The Norwegian Publishers Association was Nazified."
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#eee" id="timeline_11">
    <p>As of February 1942, all Norwegian publishing houses had to be members of the Publishers Association. All publishing houses were also required to send in applications to the authorities for each book they wished to publish. Thus manuscripts were censored before they came out in book form. During 1942, several traditional publishing houses resigned from the Publishers Association, and the censorship rules and regulations were rescinded in their entirety.</p>
</div>

<div timelinebox date-place="1943 // Germany" title="The Allies intensify the bombing of Germany"
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#fff" id="timeline_12">
    <p>Since the Germans were vulnerable to bombing by the Allies, large collections of seized books and archives were moved out to the country or to less central areas in Germany and the occupied countries. Thus the seized books were sent on a journey that generally speaking has not yet ended. </p>
</div>

<div timelinebox date-place="1945 // Norway" title="Reverse censorship"
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#eee" id="timeline_13">
    <p>After Liberation Day, 8 May 1945, Norway’s libraries quickly began to remove all Nazi literature from the shelves. From that point on, these materials were either destroyed or placed in archives in the libraries’ cellars, for future research.</p>
</div>

<div timelinebox date-place="1945 // Czechoslovakia" title="New seizures"
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#fff" id="timeline_14">
    <p>After the war, 12 million books were seized. All books that belonged to Nazis, Germans, Hungarians, collaborators and other enemies were seized.</p>
</div>

<div timelinebox date-place="1945 // Tsjekkoslovakia" title="Nye beslag"
     image-src="timeline_cz_1945_1949.png" caption-text="" cat-colour="#000000" bg-colour="#eee" id="timeline_15">
    <p>Etter krigen blir 12 millioner bøker beslaglagt. Alle bøker som har tilhørt nazister, tyskere, ungarere, kollaboratører og andre fiender blir fjernet.</p>
</div>

<div timelinebox date-place="1945-1949 // Offenbach am Main, Germany" title="Offenbach Archival Depot"
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#fff" id="timeline_16">
    <p>As of 1945, the Allies have four centres in Germany, of which Offenbach is one, to handle materials that were seized and stolen during the Second World War. Art, documents, books and archives are included in these materials. The centre in Offenbach was located in the five-story IG-Farben chemical manufacturing plant. From this centre, over 5 million books and manuscripts from more than 4000 European public and private libraries throughout Europe and Russia, were returned to their rightful owners. In August 1945, all US librarians who were then serving in the military were ordered to work with the enormous numbers of books found here.</p>
</div>

<div timelinebox date-place="1948 // Czechoslovakia" title="Undesirable persons’ properties"
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#eee" id="timeline_17">
    <p>The Czechoslovakian Communist regime seized the property of persons who had emigrated. The books found in these properties became the property of the National Library.</p>
</div>
