<br>

<div timelinebox date-place="1933 // Tyskland" tl-title="Hitler kommer til makten" tl-text="1933 // Tyskland" tl-x=0
     image-src="timeline_eu_1933.jpg" caption-text="German students and Nazi SA plunder the library of Dr. Magnus Hirschfeld, Director of the Institute for Sexual Research in Berlin. The materials were loaded onto trucks and carted away for burning. The public library of the Institute comprised approximately 10,000 mostly rare German and foreign books on the topics of sex and gender // Wikimedia Commons // Schwules Museum Berlin." cat-colour="#000000" bg-colour="#ffffff" id="timeline_1" bg-image="">
    <p>Nazifiseringen av det tyske samfunnet begynner. En ny verdensorden skal skapes og det krever streng kontroll av alle idéer. Hva folk ser, hører og leser blir fra nå av påvirket gjennom propaganda, sensur og beslaglegging. Alle ytringer som problematiserer den nye makten, blir forbudt. Alt som kan oppfattes som kritikk, hån eller latterliggjøring blir forbudt. Det samme gjelder den litteraturen og kunsten som ifølge nazistene ikke har høyt nok kunstnerisk og moralsk nivå til å gagne det germanske menneske. </p>
</div>

<div timelinebox date-place="1933 // Germany" tl-title="De første beslagene av frimurernes litteratur" tl-text="1933 // Germany" tl-x=2
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#eee" id="timeline_2">
</div>

<div timelinebox date-place="10. Mai 1933 // Berlin, Tyskland" tl-title="Book burning" tl-text="10. Mai 1933 // Berlin" tl-x=4
     image-src="bokbaal.jpg" caption-text="Thousands of books smoulder in a huge bonfire as Germans give the Nazi salute during the wave of book-burnings that spread throughout Germany // Wikimedia Commons // US National Archives " cat-colour="#000000" bg-colour="#fff" id="timeline_3" bg-image="">
    <p>Medlemmer av de nazistiske studentorganisasjonene brenner universitetets bøker og blir fulgt av 40 000 demonstranter og Joseph Goebbels som holder en appell hvor han uttaler at familien og staten skal fra nå av kun skal ha den høyeste moral, og dermed brennes alle forfattere som har skrevet «entartet Literatur». Det brennes bokbål over hele Tyskland. Etter dette går flere av de tyske forfatterne som blir sensurert i eksil. For eksempel får den nobelprisvinnende forfatteren Thomas Mann tsjekkisk statsborgerskap utover på 30-tallet, og bosetter seg først i Frankrike, så i Sveits før han og familien slår seg ned i USA og får amerikansk statsborgerskap. 
</p>
</div>

<div timelinebox date-place="1934 // Norge" tl-title="Sensuren nedfelles" tl-text="1934 // Norge" tl-x=8
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#eee" id="timeline_4">
    <p>Nasjonal Samling vedtar i sitt partiprogram at: "Presse, teater, kringkastning, film og andre kulturformidlere skal fremme nasjonens interesser. Samfundsfiendtlig propaganda og utbredelse av klassehat forbys." 
</p>
</div>

<div timelinebox date-place="1935 // Tyskland" tl-title="Frimureri blir forbudt" tl-text="1935 // Tyskland" tl-x=10
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#fff" id="timeline_5">
</div>

<div timelinebox date-place="30. september 1938 // Sudetenland" tl-title="Münchenavtalen" tl-text="30. september 1938 // Sudetenland" tl-x=12
     image-src="timeline_cz_1938.jpg" caption-text="" cat-colour="#000000" bg-colour="#eee" id="timeline_6" bg-image="">
    <p>Frankrike, England, Tyskland og Italia inngår en avtale og skriver under på en traktat som deler det tsjekkiske landomårdet Sudetenland mellom Tyskland, Polen og Ungarn. Mer enn 50% av innbyggerne i Sudetenland er tyskspråklige, og Hitler krever at Sudetenland skal bli en del av Det tredje riket. Alle tsjekkiske bibliotek blir stengt og mange bøker ødelagt. Dette gjelder ikke bare offentlige bibliotek, men også bibliotek i klostre og slott.
</p>
</div>

<div timelinebox date-place="15. mars 1939 // Tsjekkoslovakia" tl-title="Böhmen und Mähren" tl-text="15. mars 1939 // Tsjekkoslovakia" tl-x=14
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#fff" id="timeline_7">
    <p>De resterende tsjekkiske områdene i Tsjekkoslovakia blir okkupert av tyskerne og kalt protektorat Böhmen und Mähren. Bøker blir underlagt sensur og beslaglagt i likhet med i de andre okkuperte områdene. Uønsket litteratur blir fjernet fra offentlige bibliotek samt kloster-, slotts- og skolebibliotek. All litteratur om frimurere, sosialistisk litteratur og bøker skrevet av jødiske forfattere, emigrantforfattere og soldater fra fremmedlegionen fra første verdenskrig, blir fjernet fra bibliotekene. 
</p>
</div>

<div timelinebox date-place="1939 // Tsjekkoslovakia" tl-title="De tsjekkiske universitetene blir stengt" tl-text="1939 // Tsjekkoslovakia" tl-x=16
     image-src="timeline_cz_1939.jpg" caption-text="" cat-colour="#000000" bg-colour="#fff" id="timeline_8" bg-image="">
    <p>De forskjellige universitetsbibliotekene i de tsjekkiske områdene som blir okkupert av Tyskland i 1939, mister store deler av sine samlinger gjennom tyskernes konfiskeringer. Karlsuniversitetet mister nesten en halv million av sine titler. Det tekniske universitetet mister 60 000 bøker. Kunstakademiet i Praha mister 2500 titler. Masaryk Universitetet i Brno mister 250 000 bøker. Bibliotekene ved landbruksuniversitetet og det teknologiske fakultetet ved Universitetet i Pardubice får også mange av sine bøker fjernet. I tillegg til universitetene blir også andre institusjoner stengt. </p>
</div>

<div timelinebox date-place="9. April 1940 // Norway" tl-title="Norge blir okkupert"  tl-text="10. April 1940 // Norway" tl-x=20
     image-src="panservogner.jpg" caption-text="German armored vehicles unloaded in Oslo harbour, April 1940 // Wikimedia Commons, Bundesarchiv" cat-colour="#000000" bg-colour="#eee" id="timeline_9">
</div>

<div timelinebox date-place="10. April 1940 // Oslo og andre steder i Norge" tl-title="Beslag" tl-text="10. April 1940 // Oslo og andre steder i Norge" tl-x=21
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#fff" id="timeline_10">
    <p>En spesialavdeling fra Propagandaministeriet i Berlin oppsøker forlag og bokhandlere og beslaglegger tysk og russisk litteratur. En av bøkene som er viktig å få fjernet, er Herman Rauschnings bok, <i>Hitler har sagt det</i>, som har kommet ut på Aschehoug bare noen måneder før okkupasjonen. Den beskriver de politiske forholdene i Hitlers indre krets. Hvis de kom over dem, skulle spesialavdelinga også beslaglegge <i>Mitt liv</i> av Leo Trotskij, og <i>Myrsoldater</i> av Wolfgang Langhoff, der forholdene i de tyske konsentrasjonsleirene ble beskrevet. </p>
</div>

<div timelinebox date-place="Oktober 1940 // Norge" tl-title="Lister over forbudte bøker" tl-text="Oktober 1940 // Norge" tl-x=22
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#eee" id="timeline_11">
    <p>Nasjonal Samlings kulturminister Gulbrand Lunde oppnevner en litteraturkomité som skal gå igjennom biblioteks- og forlagskataloger for å lage en egen, norsk liste over bøker som skal forbys. Den norske listen, «Vern av norsk bokheim», er klar i begynnelsen av 1941 og blir brukt av norske politifolk og lensmenn, som må gjøre beslag i tillegg til de tyske myndigheter gjør. </p>
</div>

<div timelinebox date-place="November 1940 // Norge" tl-title="Tyske aksjoner mot forlag og bibliotek" tl-text="November 1940 // Norge" tl-x=23
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#fff" id="timeline_12">
    <p>Det tyske Reichskommissariat setter i gang større beslag, og bestemmer at all jødisk litteratur og såkalt emigrantlitteratur skal fjernes fra forlag, bokhandlere og bibliotek. Utover høsten starter aksjonene. Cirka 80 forfatternavn blir beslaglagt, blant dem Franz Kafka, Albert Einstein, Karl Marx, Thomas Mann og Erich Kästner.  </p>
</div>

<div timelinebox date-place="November 1941 // Norge" tl-title="Snorre Sel – et eksempel på sensur" tl-text="November 1941 // Norge" tl-x=26
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#eee" id="timeline_13">
    <p>Frithjof Sælen (1917-2004) utgir boka Snorre Sel  og den blir en stor suksess og får til og med god mottagelse i Deutsche Zeitung in Norwegen. Boka om den lille selungens kamp for tilværelsen i det farlige Ishavet der isbjørnen Brummelabb og spekkhoggeren Glefs truer, selger nesten hele opplaget på 12.500 bøker i løpet av kort tid. Bare en måned senere blir imidlertid boka forbudt etter at norske NS-myndigheter mottar klager på bokas politiske budskap. Boka er i følge undertittelen ”En fabel i farger for voksne og barn”. Tegningen av Snorre sels isflak minner konturene av Norge. Eventyret om den lille selungens kamp kan leses som en satirisk fortelling om Norges kamp mot Sovjetunionen (Brummelabb) og Nazi-Tyskland (Glefs), der Snorre sel seirer til slutt. Som spesielt latterlige fremstår de to ismåkene med gule glimt i øynene og røde merker som alltid roper ”Skui, skui”, en dårlig skjult analogi til de norske nazistene og deres soltegn og hilsen ”Heil og sæl”.  </p>
</div>

<div timelinebox date-place="5 July 1940 // Paris" tl-title="The Masonic lodges in Paris are plundered" tl-text="1940" tl-x=45
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#eee" id="timeline_9">
    <p>In the summer of 1940, Alfred Rosenberg (1893-1946), one of Hitler’s leading ideologists, received information that several large masonic lodges in Paris had become vacant after the occupation of France in June. 1 July, he sent a request to Hitler for permission to allow the <i>Hohe Schule</i>, which was to be the leading educational institution for the Nazi elite, to make use of the books and archives from these lodges. Here, all the destructive elements in society, e.g. the Jews and Freemasons, would be studied.</p>
</div>

<div timelinebox date-place="17 July 1940  // Germany" tl-title="Einsatzstab Reichsleiter Rosenberg [The Rosenberg Taskforce]" tl-text="1940" tl-x=50
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#fff" id="timeline_10">
    <p>Alfred Rosenberg was given his own special department, ERR, which collaborated closely with the Wehrmacht and Gestapo in the occupied areas to seize collections of Jewish and Masonic literature of interest. </p>
</div>

<div timelinebox date-place="October 1940 // Norway" tl-title="List of prohibited books" tl-text="1940" tl-x=55
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#eee" id="timeline_11">
    <p>The Minister of Culture, Gulbrand Lunde, appoints a literature committee that is tasked with going through the libraries’ and publishing houses’ catalogues to make a separate, Norwegian list of books to be banned. The Norwegian list was finished in the beginning of 1941 and entitled: “Vern av norsk bokheim” (Protection of the Norwegian book repositories). Norwegian police and sheriffs now also had to participate in the seizures.</p>
</div>

<div timelinebox date-place="November 1940 // Norway" tl-title="The Germans seize books" tl-text="1940" tl-x=60
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#fff" id="timeline_12">
    <p>The German Reichskommissariat Norwegen begins major seizures and decides that all Jewish literature and emigrant literature is to be removed from publishing houses, bookshops and libraries. The German raids are deployed in the autumn Books by about 80 authors (among them Franz Kafka, Albert Einstein, Karl Marx, Thomas Mann and Erich Kästner) were seized in these raids.</p>
</div>

<div timelinebox date-place="1942 // Norway" tl-title="The Norwegian Publishers Association was Nazified." tl-text="1942" tl-x=65
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#eee" id="timeline_13">
    <p>As of February 1942, all Norwegian publishing houses had to be members of the Publishers Association. All publishing houses were also required to send in applications to the authorities for each book they wished to publish. Thus manuscripts were censored before they came out in book form. During 1942, several traditional publishing houses resigned from the Publishers Association, and the censorship rules and regulations were rescinded in their entirety.</p>
</div>

<div timelinebox date-place="1943 // Germany" tl-title="The Allies intensify the bombing of Germany" tl-text="1943" tl-x=70
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#fff" id="timeline_14">
    <p>Since the Germans were vulnerable to bombing by the Allies, large collections of seized books and archives were moved out to the country or to less central areas in Germany and the occupied countries. Thus the seized books were sent on a journey that generally speaking has not yet ended. </p>
</div>

<div timelinebox date-place="1945 // Norway" tl-title="Reverse censorship" tl-text="1945" tl-x=75
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#eee" id="timeline_15">
    <p>After Liberation Day, 8 May 1945, Norway’s libraries quickly began to remove all Nazi literature from the shelves. From that point on, these materials were either destroyed or placed in archives in the libraries’ cellars, for future research.</p>
</div>

<div timelinebox date-place="1945 // Czechoslovakia" tl-title="New seizures" tl-text="1945" tl-x=80
     image-src="timeline_cz_1945_1949.png" caption-text="" cat-colour="#000000" bg-colour="#fff" id="timeline_16">
    <p>After the war, 12 million books were seized. All books that belonged to Nazis, Germans, Hungarians, collaborators and other enemies were seized.</p>
</div>

<div timelinebox date-place="1945-1949 // Offenbach am Main, Germany" tl-title="Offenbach Archival Depot" tl-text="1945-9" tl-x=85
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#fff" id="timeline_17">
    <p>As of 1945, the Allies have four centres in Germany, of which Offenbach is one, to handle materials that were seized and stolen during the Second World War. Art, documents, books and archives are included in these materials. The centre in Offenbach was located in the five-story IG-Farben chemical manufacturing plant. From this centre, over 5 million books and manuscripts from more than 4000 European public and private libraries throughout Europe and Russia, were returned to their rightful owners. In August 1945, all US librarians who were then serving in the military were ordered to work with the enormous numbers of books found here.</p>
</div>

<div timelinebox date-place="1948 // Czechoslovakia" tl-title="Undesirable persons’ properties" tl-text="1948" tl-x=100
     image-src="" caption-text="" cat-colour="#000000" bg-colour="#eee" id="timeline_18">
    <p>The Czechoslovakian Communist regime seized the property of persons who had emigrated. The books found in these properties became the property of the National Library.</p>
</div>
