<!-- place any 'section' HTML in these files -->

<div class="sectionDetail">
<p>Knihy, jež se po skončení druhé světové války ztratily, dlouho představovaly zapomenuté téma pro všechny s výjimkou lidí, institucí a organizací přímo dotčených zabavováním a konfiskací majetku. Knihy, které jsou dnes v rámci projektu registrovány, se stanou připomínkou toho, jak se totalitní režim snažil omezovat svobodu projevu zakazováním knih a organizací, konfiskací a zcizováním cenných uměleckých děl a literatury a pronásledováním a zabíjením lidí.</p>

<p>Projekt registrace a znovuobnovení této knižní sbírky v České republice je výsledkem spolupráce mezi <a href="http://www.en.nkp.cz/" target="_blank">Národní knihovnou České republiky</a> a norské organizace <a href="http://www.stiftelsen-arkivet.no/english" target="_blank">Stiftelsen Arkivet</a>. Projekt je podporovaný a financovaný EHP.</p>

<p>Pro další informace o projektu, jeho výsledcích a závěrečných seminářích navštivte webové stránky projektu nebo kontaktujte vedoucího projektu v Národní knihovně České republiky <a href="mailto:Tomas.Foltyn@nkp.cz">Tomáš Foltýn</a> nebo vedoucí projektu v Stiftelsen Arkivet <a href="mailto:gro.kvanvig@stiftelsen-arkivet.no">Gro Kvanvig</a>.</p>
</div>



