<!-- place any 'section' HTML in these files -->

<div class="sectionDetail ">
<p>Národní knihovna České republiky v Praze dnes zahrnuje sbírku 300 000 knih, které se sem dostaly v období druhé světové války a krátce po jejím skončení. Přibližně polovinu
    z 12 000 vybraných knih tvoří zednářská literatura. Další část představuje nacistická propaganda z knihovny SS, zbytek pak převážně obecná literatura, beletrie, próza a další knihy zabavené lidem, kteří byli zatčeni a poté možná deportováni. Co se stalo s těmito knihami a jejich majiteli? Proč knihy skončily v Národní knihovně v Praze? Odpovědi na některé otázky lze získat při pohledu na původ a historii vlastnictví těchto knih.
</p>

<p>Majitel knihy, ať osoba či instituce, si ji zpravidla označí. V knihovní sbírce je například každá nová kniha opatřena razítkem ukazujícím, kam patří. Většina knih v této sbírce pochází z 18. až 20. století, tedy z období, kdy bylo běžné označovat knihy buď razítkem, nebo exlibris, tedy štítkem majitele knihy. Z přibližně 1 800 dosud zaknihovaných razítek a exlibris je možné si vytvořit představu, kdo kterou knihu vlastnil. V některých případech lze také rekonstruovat historii majitelů dané knihy, což možná pomůže odpovědět na otázku, proč tyto knihy skončily ve sbírce konfiskovaných knih Národní galerie.</p>

<p>Následují některé příběhy.</p>

</div>

<!-- MS 1 -->
<div section-box class="subSectionBox" id="eksemplerfrasamlingen_dreiweltkugelen" text-closed="// Zu den drei Weltkugeln"
             text-open="// Zu den drei Weltkugeln" poster-src="dreiweltkugelen.jpg" video-src="" gif-src=""
             force-iphone-video="false" caption-text="<i>[Freimaurer Lexicon] (Zednářský slovník)</i>, Johann Christian Gädicke, vydáno v Berlíně roku 1818, součást sbírky Zu den drei Weltkugeln."></div>

<!-- MS 2 -->
<div section-box class="subSectionBox" id="eksemplerfrasamlingen_dennorskefrimurerorden" text-closed="// Den Norske Store Landsloge"
             text-open="// Den Norske Store Landsloge" poster-src="landslogesbibliotek.jpg" video-src="" gif-src=""
             force-iphone-video="false" caption-text="<i>[Mystic Christianity. Or The Inner Teachings of The Master] (Mystické křesťanství aneb skryté učení Mistra)</i>, Yogi Ramacharaka, vydáno v Chicagu, součást sbírky norské zednářské velelóže"></div>

<!-- MS 3 -->
<div section-box class="subSectionBox" id="eksemplerfrasamlingen_schwartzbostunitsch" text-closed="// Gregor Schwartz-Bostunitsch"
             text-open="// Gregor Schwartz-Bostunitsch" poster-src="bostunitsch.jpg" video-src="" gif-src=""
             force-iphone-video="false" caption-text="<i>[Freimaurerei und Politik] (Svobodné zednářství a politika)</i>, Adolf Rossberg, vydáno v Berlíně, součást sbírky Gregora a Frikky Schwartz-Bostunitschových"></div>

<!-- MS 4 -->
<div section-box class="subSectionBox" id="eksemplerfrasamlingen_sauer" text-closed="// August Sauer"
             text-open="// August Sauer" poster-src="augustsauer.jpg" video-src="" gif-src=""
             force-iphone-video="false" caption-text="<i>[Ante-diluvianische Fidibus-Schnitzel: von 1842 bis 1847, Volume 5]</i>, Friedrich von Schwarzenberg, vydáno v Grundu 1850, součást sbírky Augusta Sauera."></div>
             
<!-- MS 5 -->
<div section-box class="subSectionBox" id="eksemplerfrasamlingen_smichovsky" text-closed="// Jiří Arvéd Smíchovský"
             text-open="// Jiří Arvéd Smíchovský" poster-src="smichovsky.jpg" video-src="" gif-src=""
             force-iphone-video="false" caption-text="<i>[La Gerusalemme liberate] (Jerusalem Delivered)</i>, Ferdinando Martini, vydáno v Miláně, součást sbírky Jiřího Arvéda Smíchovského"></div>
             
<!-- MS 6 -->
<div section-box class="subSectionBox" id="eksemplerfrasamlingen_redenhalle" text-closed="// Die Lese- und Redehalle"
             text-open="// Die Lese- und Redehalle" poster-src="leseundredenhalle.jpg" video-src="" gif-src=""
             force-iphone-video="false" caption-text="<i>[Plutarchstudien in Italienischen Bibliotheken] (Plutarchovy studie v italských knihovnách)</i>, Hans Wegehaupt, poprvé vydáno 1923, součást sbírky Die Lese- und Redehalle der deutschen Studenten in Prag."></div>
             
