<!-- place any 'section' HTML in these files -->

<div class="sectionDetail czechfont">
    <p>Od okamžiku, kdy lidé začali zapisovat své myšlenky, tedy šířit ideje, se vládní i nevládní orgány snažily
        zastavit šíření náboženských, etických a politických myšlenek, které by mohly poškodit či vyvrátit převládající
        principy daného zřízení. Začalo tak cenzurování, stahování, zabavování a ničení knih. Spisovatelé a vědci byli
        vystavováni perzekuci, mnozí týráni, a dokonce zabíjeni pro své myšlenky a názory „svěřené papíru“. Věda,
        politika, náboženství, umění: nové myšlenky mohou být nebezpečné a pro totalitní režim je důležité kontrolovat,
        co si jeho občané myslí a jak své myšlenky a postoje vyjadřují. </p>
    </div>

<!-- WW2 -->
<div section-box id="context_ww2" text-closed="// Druhá světová válka"
             text-open="// Druhá světová válka" poster-src="ww2_des.jpg" video-src="" gif-src=""
             force-iphone-video="false" caption-text="Zničení výzkumné knihovny v Berlíně // Wikimedia Commons // Schwules Museum, Berlin"></div>

<!-- Post War Era -->
<div section-box id="context_post_war_era" text-closed="// Poválečné roky"
             text-open="// Poválečné roky"  poster-src="background_postwar_des.jpg" video-src="" gif-src=""
             force-iphone-video="false" caption-text="Praha 1978. Rudé vlajky oslavují třicetileté výročí komunistického převratu z února 1948 // Wikimedia Commons// Spolkový archiv">
    
</div>

