<!-- place any 'section' HTML in these files -->

<div class="sectionDetail czechfont">

<div quotebox type="quote" czech="true"> <p>Nekontrolovatelný požár odnášel listiny, dokumenty a dopisy do Československa.”</p> </div>
<p><i>Anna Fosse Claussová v dopise domů do Norska během bombardování Drážďan v roce 1945.</i></p>

<p>Národní knihovna České republiky v Praze uchovávala po mnoho let značné množství netknutých knih. Zatím zůstaly
    nezaevidované v katalozích knihovny. Jde o knihy zkonfiskované během druhé světové války a krátce po jejím skončení.
    Přinášíme vám příběh těchto knih, historii plnou bílých míst, která je třeba zaplnit.</p>

<p>Podle odhadu mohlo být v Československu po skončení války zabaveno na 12 milionů knih pocházejících z 18. až 20.
    století. Většina z nich skončila v československé Národní knihovně.</p>

<p>Národní knihovna vybrala 300 000 zabavených knih zahraničního původu a zjistila, že přibližně 12 000 titulů obsahuje
    jméno majitele. Mohla tak začít práce na mapování cesty každé knihy. Kdo danou knihu vlastnil? Proč byla zabavena?
    Co se stalo s jejím majitelem? Kde kniha skončila? Ke komu se poté dostala? A proč se dnes nachází v Národní
    knihovně České republiky?</p>

<p>Sbírka knih vypráví mnoho příběhů. Jedním z nich je historie snahy totalitních režimů o zlikvidování nežádoucích
    osob a jejich historických spisů. Právě teď se můžete seznámit s příběhy některých knih, jež se nacisté a
    komunisté snažili zničit. Nahlédnete také do minulosti dvou zemí, které – různým způsobem – změnila nacistická
    okupace.</p>

</div>

