<meta name="module" content="1,no">

<!-- Each DIV block defined below represents an opening 'section' headed with image/video introduction -->
<!-- This directive shows a placeholder image, replaced with video content (or animated GIF for mobile devices) when clicked. Click also activates the following section. Unique section ID must be included-->


<!-- Intro -->
<div section-box id="intro" text-closed="Co se stalo s knihami?" text-open="Co se stalo s knihami?"
     poster-src="discoveredonceagain.jpg" video-src="" gif-src="" force-iphone-video="false"
     caption-text=""></div>

<!-- Context -->
<div section-box id="context" text-closed="Historické pozadí" text-open="Historické pozadí"
     poster-src="background_des-1.jpg" video-src="" gif-src="" force-iphone-video="false"
     caption-text="11. prosince 1941, Berlín. Hitlerův projev v Krollově opeře // Wikimedia Commons // Spolkový archiv"></div>

<!-- Timeline -->
<div section-box id="timeline" text-closed="Časová osa" text-open="Časová osa"
     poster-src="context.jpg" video-src="" gif-src="" force-iphone-video="false" timeline-mode=true
     caption-text="Zkonfiskované knihy byly v Československu po druhé světové válce přesouvány z místa na místo. // Národní knihovna, Česká republika"></div>

<!-- Collection -->
<div section-box id="collection" text-closed="Svědectví knih" text-open="Svědectví knih"
     poster-src="collection.jpg" video-src="" gif-src="" force-iphone-video="false"
     caption-text="Konfiskované knihy // Národní knihovna České republiky"></div>

<!-- Provenance -->
<div section-box id="provenance" text-closed="Provenience" text-open="Provenience" mosaic-mode=true
     poster-src="provenance.jpg" video-src="" gif-src="" force-iphone-video="false"
     caption-text=""></div>

<!-- Archival Process -->
<div section-box id="process" text-closed="Co s knihami děláme" text-open="Co s knihami děláme"
     poster-src="process_still.jpg" video-src="process.mp4" gif-src="process4.gif" force-iphone-video="false"
     caption-text=""></div>

<!-- About -->
<div section-box id="about" text-closed="O projektu" text-open="O projektu"
     poster-src="cataloging.jpg" video-src="cataloging.mp4" gif-src="" force-iphone-video="false"
     caption-text=""></div>


</div>
