<meta name="module" content="1,no">
<header aria-role="banner">
    <div>
        <div class="topQuoteMarks" aria-hidden="true">
            <span>“</span>
        </div>
        <div class="topQuoteText">
            <span class="topQuote">BOOKS DISCOVERED ONCE AGAIN</span>

            <p class="topSubtitle">// VIRTUAL EXHIBIT</p>
        </div>
    </div>
</header>

<!-- Each DIV block defined below represents an opening 'section' headed with image/video introduction -->
<!-- This directive shows a placeholder image, replaced with video content (or animated GIF for mobile devices) when clicked. Click also activates the following section. Unique section ID must be included-->


<!-- Intro -->
<div div section-box id="intro" text-closed="Intro" text-open="Intro"
     poster-src="1.1.jpg" video-src="1.1.mp4" gif-src="1.1.gif" force-iphone-video="false"></div>

<!-- Context -->
<div section-box id="context" text-closed="Context" text-open="Context"
     poster-src="1.1.jpg" video-src="1.1.mp4" gif-src="" force-iphone-video="false"></div>

<!-- Timeline -->
<div section-box id="timeline" text-closed="Timeline" text-open="Timeline"
     poster-src="0.0.jpg" video-src="1.1.mp4" gif-src="" force-iphone-video="false"></div>

<!-- Collection -->
<div section-box id="collection" text-closed="Collection" text-open="Collection"
     poster-src="0.0.jpg" video-src="1.1.mp4" gif-src="" force-iphone-video="false"></div>

<!-- Provenance -->
<div section-box id="provenance" text-closed="Provenance" text-open="Provenance"
     poster-src="0.0.jpg" video-src="1.1.mp4" gif-src="" force-iphone-video="false"></div>

<!-- Archival Process -->
<div section-box id="archival_process" text-closed="Archival Process" text-open="Archival Process"
     poster-src="0.0.jpg" video-src="1.1.mp4" gif-src="" force-iphone-video="false"></div>

<!-- About -->
<div section-box id="about" text-closed="About" text-open="About"
     poster-src="0.0.jpg" video-src="1.1.mp4" gif-src="" force-iphone-video="false"></div>


</div>
