<div class="sectionDetail ">
  
<p>První část procesu registrace knih objevených ve skladu Národní knihovny zahrnuje výběr knih vhodných k registraci. Jde o knihy ze záložního skladu, které dosud nebyly registrovány. Knihovníci musí vzít každou jednotlivou knihu z police a určit, zda vyhovuje, či nevyhovuje rámci projektu. Rámec projektu zahrnuje veškerou zednářskou literaturu a literaturu přivezenou do Československa během druhé světové války a krátce po jejím skončení v důsledku zabavení či repatriace. </p>

<p>Jelikož knihy ležely dlouhé roky pod silnou vrstvou prachu, před dalším zpracováním musejí být nejprve pečlivě očištěny. </p>

<p>Po očištění jsou katalogizovány a dostanou vlastní signaturu; poté jsou umístěny zpět na police. Knihy jsou uchovávány v oddělených, zajištěných prostorách při optimální teplotě.</p>

<p>Nakonec každá kniha podstupuje digitalizaci, aby bylo možné její obsah dlouhodobě zpřístupnit veřejnosti. Obsah knih je dosud přístupný pouze pracovníkům Národní knihovny, jelikož nejprve je nutné vyřešit právní status těchto knih. Po vyjasnění tohoto právního aspektu lze knihy, které zůstanou v Národní galerii, zpřístupnit veřejnosti. Mohou tak být využity k budoucímu bádání a šíření.</p>

<p>Více informací o celém procesu od výběru knih po jejich digitalizaci nabízejí webové stránky projektu <u><a href="http://knihyznovunalezene.eu/en/zajimavosti/cyklus1-vyber.html">Knihy znovu nalezené</a></u>.
</div>

