<!-- place any 'section' HTML in these files -->

<div class="sectionDetail czechfont">
    <p>Místo původu a kontext jsou důležité pro určení toho, odkud kniha pochází. Zjistit provenienci knihy znamená vypátrat její předchozí majitele. Pak lze danou knihu a její majitele dát do kontextu.</p>

    <div readmore title="Example // Engelbert Pernerstorfer (1850–1918)" id="rm1_provenance" image-and-caption="{'image': 'image114.jpg', 'caption' : 'Razítko 114'}">
        <p>Soukromá knihovna z první světové války. V roce 1920 byla Pernerstorferova knihovna začleněna do Knihovny pro pracující a zaměstnance (Bibliothek für Arbeiter und Angestellte). Několik jejích částí bylo roku 1939 přemístěno do Berlína. Odtud byly roku 1944 přesunuty do Slezska a Sudet, aby unikly spojeneckému bombardování Německa. V roce 1945 byly části Pernerstorferovy knihovny objeveny na čtyřech různých hradech, odkud se dostaly do archivního skladu v Offenbachu. Dnes se nacházejí v Národní galerii v Praze, Knihovně pro pracující a zaměstnance a Berlínské ústřední a regionální knihovně.</p>
    </div>

    <div readmore title="Example // Deutsche Ärzte-Bücherei" id="rm2_provenanc" image-and-caption="{'image': 'image395.jpg', 'caption' : 'Razítko 395'}">
        <p>Pravděpodobně největší lékařská knihovna v Německu. Některé její části zcizila Rudá armáda. Jiné byly roku 1945 nalezeny v Novém Boru v Československu.</p>
    </div>

    <div readmore title="Example // Spolek českých právníků Všehrd" id="rm3_provenanc" image-and-caption="{'image': 'image404.jpg', 'caption' : 'Razítko 404'}">
        <p>Studentský spolek pojmenovaný po předním českém právníkovi z 16. století, Viktorinu Kornelovi ze Všehrd. Spolek vydává vlastní publikace a byl těsně napojený na Právnickou fakultu Karlovy univerzity. V období druhé světové války a po komunistickém převratu roku 1948 byly studentské spolky zakázány.</p>
    </div>

    <div readmore title="Example // Karl Thums (1904–1971)" id="rm4_provenanc" image-and-caption="{'image': 'image646.jpg', 'caption' : 'Razítko 646'}">
        <p>Thums byl rakouský lékař a psychiatr se zaměřením na neurologii. Podporoval eugeniku. V roce 1931 vstoupil do řad NSDAP, roku 1939 přišel do Prahy, aby na Německé univerzitě založil ústav eugeniky. Po válce pokračoval v lékařské praxi. </p>
    </div>

    <div readmore title="Example // Kuratorium pro výchovu mládeže" id="rm5_provenanc" image-and-caption="{'image': 'image861.jpg', 'caption' : 'Razítko 861'}">
        <p>Kuratorium pro výchovu mládeže bylo založeno roku 1942 a svou činnost zahájilo o rok později. Zaměřovalo se na výchovu mladých lidí ve věku 10–18 let dle nacistických ideálů, po vzoru Hitlerjugend, jako podobné spolky v dalších okupovaných zemích (např. <i>Unghirden</i> v Norsku).</p>
    </div>

    <p>Níže je uvedeno 60 ze 120 dosud katalogizovaných razítek v rámci projektu.</p>

</div>

<!-- place any 'section' HTML in these files -->

