<meta name="module" content="3,no">
<div>
    <header aria-role="banner">
        <span class="screenReadersOnly">{{ 'TITLE_MODULE03' | translate }}</span>
        <hmsmoduletitle h-module-no="// Title in Norsk" h-module-en="// Title in English" h-quote-no="QUOTE - in NORSK" h-quote-en="QUOTE - in English"></hmsmoduletitle>
    </header>

    <!-- Each DIV block defined below represents an opening 'section' headed with image/video introduction -->

    <div>
        <!-- This is visible only to screen reader devices -->
        <span class="screenReadersOnly">{{ 'MODULE03_SECTION01_DESCRIPTION' | translate }}</span>
        <!-- This directive shows a placeholder image, replaced with video content (or animated GIF for mobile devices) when clicked. Click also activates the following section -->
        <hmsvideo h-id="s1" h-text-no="Video referring to this section (NO)" h-text-en="Video referring to this section (EN)" h-icon="" h-poster="0.0.jpg" h-videosrc="" h-gifsrc="" h-force-iphone-video="false" h-broadcast="broadcastToSlider()"></hmsvideo>
        <!-- This directive will slide open when clicked and contains defines all content styling -->
        <section sublevel id="s1" class="sectionDetail slideable"></section>
    </div>

    <div>
        <span class="screenReadersOnly">{{ 'MODULE03_SECTION02_DESCRIPTION' | translate }}</span>
        <hmsvideo h-id="s2" h-text-no="Video referring to this section (NO)" h-text-en="Video referring to this section (EN)" h-icon="" h-poster="0.0.jpg" h-videosrc="" h-gifsrc="" h-force-iphone-video="false" h-broadcast="broadcastToSlider()"></hmsvideo>
        <section sublevel id="s2" class="sectionDetail slideable"></section>
    </div>

    <div>
        <span class="screenReadersOnly">{{ 'MODULE03_SECTION03_DESCRIPTION' | translate }}</span>
        <hmsvideo h-id="s3" h-text-no="Video referring to this section (NO)" h-text-en="Video referring to this section (EN)" h-icon="" h-poster="0.0.jpg" h-videosrc="" h-gifsrc="" h-force-iphone-video="false" h-broadcast="broadcastToSlider()"></hmsvideo>
        <section sublevel id="s3" class="sectionDetail slideable"></section>
    </div>

    <div>
        <span class="screenReadersOnly">{{ 'MODULE03_SECTION04_DESCRIPTION' | translate }}</span>
        <hmsvideo h-id="s4" h-text-no="Video referring to this section (NO)" h-text-en="Video referring to this section (EN)" h-icon="" h-poster="0.0.jpg" h-videosrc="" h-gifsrc="" h-force-iphone-video="false" h-broadcast="broadcastToSlider()"></hmsvideo>
        <section sublevel id="s4" class="sectionDetail slideable"></section>
    </div>

    <div>
        <span class="screenReadersOnly">{{ 'MODULE03_SECTION05_DESCRIPTION' | translate }}</span>
        <hmsvideo h-id="s5" h-text-no="Video referring to this section (NO)" h-text-en="Video referring to this section (EN)" h-icon="" h-poster="0.0.jpg" h-videosrc="" h-gifsrc="" h-force-iphone-video="false" h-broadcast="broadcastToSlider()"></hmsvideo>
        <section sublevel id="s5" class="sectionDetail slideable"></section>
    </div>

    <div>
        <span class="screenReadersOnly">{{ 'MODULE03_SECTION06_DESCRIPTION' | translate }}</span>
        <hmsvideo h-id="s6" h-text-no="Video referring to this section (NO)" h-text-en="Video referring to this section (EN)" h-icon="" h-poster="0.0.jpg" h-videosrc="" h-gifsrc="" h-force-iphone-video="false" h-broadcast="broadcastToSlider()"></hmsvideo>
        <section sublevel id="s6" class="sectionDetail slideable"></section>
    </div>

    <!-- Add as many sub as needed here -->

</div>
